In [1]:
import pandas as pd
import numpy as np

In [2]:
exclusion = pd.read_csv("~/ICD10_9_selfreport_incl_excl.csv")

In [3]:
df = pd.read_csv("/mnt/mfs/statgen/UKBiobank/data/HI_UKBB/062421_UKBB_HI_exomes_189009ind.csv", quotechar = '"', dtype="string")
df

,IID,FID,ignore1,ignore2,ignore3,ignore4,f.31.0.0,f.34.0.0,f.53.0.0,f.53.1.0,...,f.131228.0.0,f.131229.0.0,f.131230.0.0,f.131231.0.0,f.131232.0.0,f.131233.0.0,f.131250.0.0,f.131251.0.0,f.131252.0.0,f.131253.0.0
0,1000019,1000019,0,0,2,-9,Female,1960,2008-01-24,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1000035,1000035,0,0,1,-9,Male,1944,2007-11-08,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1000078,1000078,0,0,2,-9,Female,1955,2007-08-20,2012-11-01,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1000081,1000081,0,0,1,-9,Male,1942,2009-12-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,1000198,1000198,0,0,2,-9,Female,1967,2009-03-27,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189004,6025295,6025295,0,0,1,-9,Male,1961,2008-01-24,<NA>,...,1990-04-05,Primary care only,1991-02-25,Primary care only,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189005,6025319,6025319,0,0,2,-9,Female,1953,2010-02-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189006,6025346,6025346,0,0,2,-9,Female,1954,2008-08-19,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189007,6025363,6025363,0,0,1,-9,Male,1944,2008-05-17,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189008,6025411,6025411,0,0,2,-9,Female,1960,2010-04-29,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

## Filter Out Exclusions

### Filter out icd 10 exclusions

In [4]:
exclude_icd10 = exclusion[(exclusion["UKBB_field_code"] == "f.41270") & (exclusion["Excluded_fulldb_lateonsetHI"] == 'Y') ]
exclude_icd10

,UKBB_field_code,Phenotype,cases_UKB_showcase,Excluded_fulldb_lateonsetHI,Excluded_from_controls,Cases_f3393,Cases_f2247,Cases_f2257,Cases_Mendelian_like,Excluded_from_controls_Medelian_like,observations
27,f.41270,H65.2 Chronic serous otitis media,103.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,f.41270,H65.3 Chronic mucoid otitis media,960.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,f.41270,H65.4 Other chronic nonsuppurative otitis media,158.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,f.41270,"H65.9 Nonsuppurative otitis media, unspecified",508.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,f.41270,H66.1 Chronic tubotympanic suppurative otitis ...,40.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
276,f.41270,"S07.9 Crushing injury of head, part unspecified",1.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279,f.41270,S08.1 Traumatic amputation of ear,13.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,f.41270,S08.8 Traumatic amputation of other parts of head,1.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281,f.41270,S08.9 Traumatic amputation of unspecified part...,1.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,f.41270,S09.2 Traumatic rupture of ear drum,18.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
icd10_colnames = [col for col in df if "f.41270" in col]

In [6]:
icd10 = df[icd10_colnames]
icd10

,f.41270.0.0,f.41270.0.1,f.41270.0.2,f.41270.0.3,f.41270.0.4,f.41270.0.5,f.41270.0.6,f.41270.0.7,f.41270.0.8,f.41270.0.9,...,f.41270.0.203,f.41270.0.204,f.41270.0.205,f.41270.0.206,f.41270.0.207,f.41270.0.208,f.41270.0.209,f.41270.0.210,f.41270.0.211,f.41270.0.212
0,E041,H738,M750,M754,M758,N898,N920,N946,R104,Z038,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,H269,K579,K590,K621,N40,R398,Z466,Z538,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,D037,L720,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,E780,H251,H269,I10,I210,I219,I251,I252,I258,I259,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,D171,I10,J301,K409,N898,O800,Z370,Z721,Z822,Z861,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189004,D171,I845,I846,K318,K429,K529,K602,K610,K921,R073,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189005,E669,I10,K801,K802,K85,M179,M233,N921,R102,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189006,O074,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189007,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189008,O149,O266,O342,O471,O48,O610,O680,Z370,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [7]:
ex_critia_icd10 = ["".join( (i.split(" ")[0]).split(".") ) for i in exclude_icd10["Phenotype"].tolist()]
ex_critia_icd10

['H652',
 'H653',
 'H654',
 'H659',
 'H661',
 'H662',
 'H663',
 'H664',
 'H669',
 'H680',
 'H701',
 'H702',
 'H708',
 'H709',
 'H71',
 'H731',
 'H738',
 'H739',
 'H740',
 'H741',
 'H742',
 'H743',
 'H748',
 'H749',
 'H750',
 'H758',
 'H800',
 'H801',
 'H802',
 'H808',
 'H809',
 'H810',
 'H830',
 'H831',
 'H832',
 'H900',
 'H901',
 'H902',
 'H910',
 'H933',
 'H940',
 'H948',
 'H950',
 'H951',
 'H958',
 'H959',
 'B020',
 'B021',
 'B022',
 'B023',
 'B027',
 'B028',
 'G000',
 'G001',
 'G002',
 'G003',
 'G008',
 'G009',
 'G01',
 'G020',
 'G021',
 'G028',
 'G030',
 'G031',
 'G032',
 'G038',
 'G039',
 'G040',
 'G041',
 'G042',
 'G048',
 'G049',
 'G050',
 'G051',
 'G052',
 'G058',
 'G060',
 'G061',
 'G062',
 'G07',
 'G08',
 'G09',
 'G510',
 'G511',
 'G512',
 'G513',
 'G514',
 'G518',
 'G519',
 'S0200',
 'S0201',
 'S0210',
 'S0211',
 'S0240',
 'S0241',
 'S0260',
 'S0261',
 'S0270',
 'S0271',
 'S0280',
 'S0281',
 'S0290',
 'S0291',
 'S045',
 'S046',
 'S049',
 'S0600',
 'S0601',
 'S0610',
 'S0611',
 'S0620',
 'S0621',
 'S0630',
 'S0631',
 'S0640',
 'S0641',
 'S0650',
 'S0651',
 'S0660',
 'S0661',
 'S0670',
 'S0671',
 'S0680',
 'S0681',
 'S0690',
 'S0691',
 'S070',
 'S071',
 'S078',
 'S079',
 'S081',
 'S088',
 'S089',
 'S092']

In [8]:
def contains_exclusion(row, exclusion_list):
    for i in row:
        try: # this is to catch the nan issue
            if i in exclusion_list:
                return True
        except:
            continue
            
    return False

In [9]:
ex_fxn_icd10 = lambda row: contains_exclusion(row, ex_critia_icd10)
ex_10 = icd10.apply(ex_fxn_icd10, axis=1)

In [10]:
filtered = df[~ex_10]

In [11]:
filtered

,IID,FID,ignore1,ignore2,ignore3,ignore4,f.31.0.0,f.34.0.0,f.53.0.0,f.53.1.0,...,f.131228.0.0,f.131229.0.0,f.131230.0.0,f.131231.0.0,f.131232.0.0,f.131233.0.0,f.131250.0.0,f.131251.0.0,f.131252.0.0,f.131253.0.0
1,1000035,1000035,0,0,1,-9,Male,1944,2007-11-08,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1000078,1000078,0,0,2,-9,Female,1955,2007-08-20,2012-11-01,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1000081,1000081,0,0,1,-9,Male,1942,2009-12-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,1000198,1000198,0,0,2,-9,Female,1967,2009-03-27,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,1000210,1000210,0,0,1,-9,Male,1941,2008-02-11,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189004,6025295,6025295,0,0,1,-9,Male,1961,2008-01-24,<NA>,...,1990-04-05,Primary care only,1991-02-25,Primary care only,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189005,6025319,6025319,0,0,2,-9,Female,1953,2010-02-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189006,6025346,6025346,0,0,2,-9,Female,1954,2008-08-19,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189007,6025363,6025363,0,0,1,-9,Male,1944,2008-05-17,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189008,6025411,6025411,0,0,2,-9,Female,1960,2010-04-29,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

### Filter out icd 9 exlcusions

In [12]:
exclude_icd9 = exclusion[(exclusion["UKBB_field_code"] == "f.41271") & (exclusion["Excluded_fulldb_lateonsetHI"] == 'Y') ]
exclude_icd9

,UKBB_field_code,Phenotype,cases_UKB_showcase,Excluded_fulldb_lateonsetHI,Excluded_from_controls,Cases_f3393,Cases_f2247,Cases_f2257,Cases_Mendelian_like,Excluded_from_controls_Medelian_like,observations
319,f.41271,3811 Chronic serous otitis media,8.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,f.41271,3812 Chronic mucoid otitis media,11.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,f.41271,3813 Other and unspecified chronic nonsuppurat...,3.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,f.41271,"3814 Nonsuppurative otitis media, not specifie...",19.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,f.41271,3815 Eustachian salpingitis,0.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
516,f.41271,9050 Late effect of fracture of skull and face...,19.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,f.41271,"9259 Crushing injury of face, scalp and neck",2.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,f.41271,9514 Injury to facial nerve,0.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,f.41271,9515 Injury to acoustic nerve,1.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537,f.41271,9519 Injury to unspecified cranial nerve,0.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
icd9_colnames = [col for col in filtered if "f.41271" in col]

In [14]:
icd9 = filtered[icd9_colnames]
icd9

,f.41271.0.0,f.41271.0.1,f.41271.0.2,f.41271.0.3,f.41271.0.4,f.41271.0.5,f.41271.0.6,f.41271.0.7,f.41271.0.8,f.41271.0.9,...,f.41271.0.37,f.41271.0.38,f.41271.0.39,f.41271.0.40,f.41271.0.41,f.41271.0.42,f.41271.0.43,f.41271.0.44,f.41271.0.45,f.41271.0.46
1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189004,3899,4781,8131,E8860,V540,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189005,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189006,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189007,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189008,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [15]:
ex_critia_icd9 = ["".join( (i.split(" ")[0]).split(".") ) for i in exclude_icd9["Phenotype"].tolist()]
ex_critia_icd9

['3811',
 '3812',
 '3813',
 '3814',
 '3815',
 '3816',
 '3819',
 '3821',
 '3822',
 '3823',
 '3824',
 '3829',
 '3831',
 '3832',
 '3833',
 '3838',
 '3839',
 '3841',
 '3850',
 '3851',
 '3852',
 '3853',
 '3858',
 '3859',
 '3860',
 '3863',
 '3864',
 '3865',
 '3868',
 '3869',
 '3870',
 '3871',
 '3872',
 '3878',
 '3879',
 '3885',
 '3890',
 '0530',
 '0531',
 '0532',
 '0537',
 '0538',
 '3200',
 '3201',
 '3202',
 '3203',
 '3204',
 '3205',
 '3207',
 '3208',
 '3209',
 '3210',
 '3211',
 '3212',
 '3213',
 '3214',
 '3215',
 '3216',
 '3217',
 '3218',
 '3220',
 '3221',
 '3222',
 '3229',
 '3230',
 '3231',
 '3232',
 '3233',
 '3234',
 '3235',
 '3236',
 '3237',
 '3238',
 '3239',
 '3240',
 '3241',
 '3249',
 '3259',
 '3269',
 '3510',
 '3511',
 '3518',
 '3519',
 '8000',
 '8001',
 '8002',
 '8003',
 '8010',
 '8011',
 '8012',
 '8013',
 '8022',
 '8023',
 '8024',
 '8025',
 '8028',
 '8029',
 '8030',
 '8031',
 '8032',
 '8033',
 '8040',
 '8041',
 '8042',
 '8043',
 '8509',
 '8510',
 '8511',
 '8520',
 '8521',
 '8530',
 '8531',
 '8540',
 '8541',
 '8726',
 '8727',
 '8728',
 '8729',
 '9050',
 '9259',
 '9514',
 '9515',
 '9519']

In [16]:
ex_fxn_icd9 = lambda row: contains_exclusion(row, ex_critia_icd9)
ex_9 = icd9.apply(ex_fxn_icd9, axis=1)

In [17]:
filtered = filtered[~ex_9]

In [18]:
filtered

,IID,FID,ignore1,ignore2,ignore3,ignore4,f.31.0.0,f.34.0.0,f.53.0.0,f.53.1.0,...,f.131228.0.0,f.131229.0.0,f.131230.0.0,f.131231.0.0,f.131232.0.0,f.131233.0.0,f.131250.0.0,f.131251.0.0,f.131252.0.0,f.131253.0.0
1,1000035,1000035,0,0,1,-9,Male,1944,2007-11-08,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1000078,1000078,0,0,2,-9,Female,1955,2007-08-20,2012-11-01,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1000081,1000081,0,0,1,-9,Male,1942,2009-12-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,1000198,1000198,0,0,2,-9,Female,1967,2009-03-27,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,1000210,1000210,0,0,1,-9,Male,1941,2008-02-11,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189004,6025295,6025295,0,0,1,-9,Male,1961,2008-01-24,<NA>,...,1990-04-05,Primary care only,1991-02-25,Primary care only,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189005,6025319,6025319,0,0,2,-9,Female,1953,2010-02-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189006,6025346,6025346,0,0,2,-9,Female,1954,2008-08-19,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189007,6025363,6025363,0,0,1,-9,Male,1944,2008-05-17,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189008,6025411,6025411,0,0,2,-9,Female,1960,2010-04-29,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

### Filter out f.20002 exclusions

In [19]:
exclude_f20002 = exclusion[(exclusion["UKBB_field_code"] == "f.20002") & (exclusion["Excluded_fulldb_lateonsetHI"] == 'Y') ]
exclude_f20002

,UKBB_field_code,Phenotype,cases_UKB_showcase,Excluded_fulldb_lateonsetHI,Excluded_from_controls,Cases_f3393,Cases_f2247,Cases_f2257,Cases_Mendelian_like,Excluded_from_controls_Medelian_like,observations
539,f.20002,1420 otosclerosis,260.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540,f.20002,1421 meniere's disease,1553.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541,f.20002,1499 labyrinthitis,417.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,f.20002,1244 infection of nervous system,55.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,f.20002,1245 brain abscess/intracranial abscess,79.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,f.20002,1246 encephalitis,348.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548,f.20002,1247 meningitis,2214.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550,f.20002,1249 cranial nerve problem/palsy,289.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
551,f.20002,1250 bell's palsy/facial nerve palsy,591.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,f.20002,1240 neurological injury/trauma,130.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
558,f.20002,1626 fracture skull / head,465.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565,f.20002,1086 subarachnoid haemorrhage,492.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566,f.20002,1491 brain haemorrhage,218.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,f.20002,1083 subdural haemorrhage/haematoma,212.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,f.20002,1425 cerebral aneurysm,352.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
f20002_colnames = [col for col in filtered if "f.20002" in col]

In [21]:
f20002 = filtered[f20002_colnames]
f20002

,f.20002.0.0,f.20002.0.1,f.20002.0.2,f.20002.0.3,f.20002.0.4,f.20002.0.5,f.20002.0.6,f.20002.0.7,f.20002.0.8,f.20002.0.9,...,f.20002.3.24,f.20002.3.25,f.20002.3.26,f.20002.3.27,f.20002.3.28,f.20002.3.29,f.20002.3.30,f.20002.3.31,f.20002.3.32,f.20002.3.33
1,1396,1473,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1075,1440,1473,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,1065,1123,1286,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189004,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189005,1065,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189006,1452,1265,1387,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189007,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189008,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [22]:
ex_critia_f20002 = ["".join( (i.split(" ")[0]).split(".") ) for i in exclude_f20002["Phenotype"].tolist()]
ex_critia_f20002

['1420',
 '1421',
 '1499',
 '1244',
 '1245',
 '1246',
 '1247',
 '1249',
 '1250',
 '1240',
 '1626',
 '1086',
 '1491',
 '1083',
 '1425']

In [23]:
ex_fxn_f20002 = lambda row: contains_exclusion(row, ex_critia_f20002)
ex_f20002 = f20002.apply(ex_fxn_f20002, axis=1)

In [24]:
filtered = filtered[~ex_f20002]

In [25]:
filtered

,IID,FID,ignore1,ignore2,ignore3,ignore4,f.31.0.0,f.34.0.0,f.53.0.0,f.53.1.0,...,f.131228.0.0,f.131229.0.0,f.131230.0.0,f.131231.0.0,f.131232.0.0,f.131233.0.0,f.131250.0.0,f.131251.0.0,f.131252.0.0,f.131253.0.0
1,1000035,1000035,0,0,1,-9,Male,1944,2007-11-08,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1000078,1000078,0,0,2,-9,Female,1955,2007-08-20,2012-11-01,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1000081,1000081,0,0,1,-9,Male,1942,2009-12-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,1000198,1000198,0,0,2,-9,Female,1967,2009-03-27,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,1000210,1000210,0,0,1,-9,Male,1941,2008-02-11,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189004,6025295,6025295,0,0,1,-9,Male,1961,2008-01-24,<NA>,...,1990-04-05,Primary care only,1991-02-25,Primary care only,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189005,6025319,6025319,0,0,2,-9,Female,1953,2010-02-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189006,6025346,6025346,0,0,2,-9,Female,1954,2008-08-19,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189007,6025363,6025363,0,0,1,-9,Male,1944,2008-05-17,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
189008,6025411,6025411,0,0,2,-9,Female,1960,2010-04-29,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [26]:
saved_filtered = filtered

In [296]:
filtered = saved_filtered

## Remove inconsistencies or unclear individuals

Some individuals might be unclear on if they do or do not have hearing difficulties or are inconsistent (found in f.3393, f.2247, and f.2257 ), in which case they cannot be considered either controls or cases.

The conditions for being removed are as follows:
* Saying I don't know after saying either yes or no
* Only saying I don't know or prefer not to say
* Being completely deaf

### Prior to filtering for inconsistencies

f.2257 = {'Yes': 81218, NA : 513774, 'No': 131091, 'Do not know': 4409, 'Prefer not to answer': 208}

f.2247 = {'No': 151758, : 513806, 'Yes': 55437, 'Do not know': 9489, 'Prefer not to answer': 171, 'I am completely deaf': 39}

f.3393 = {'No': 145486, : 577795, 'Yes': 7237, 'Prefer not to answer': 182}

In [297]:
phens = ["f.3393", "f.2247", "f.2257"]

hearing_imp_f3393 = [col for col in filtered if "f.3393" in col]
hearing_imp_f2247 = [col for col in filtered if "f.2247" in col]
hearing_imp_f2257 = [col for col in filtered if "f.2257" in col]

icd_10_cols = [col for col in df if "f.41270" in col]
icd_9_cols = [col for col in df if "f.41271" in col]

In [298]:
hearing_ans = {"Do not know":9, "Yes":1, "No":0}
options = set()
# pass one pheno at a time
def find_options(row):
    answer = "".join([str(hearing_ans[i]) for i in row if not pd.isna(i) and i != "I am completely deaf" and i != "Prefer not to answer"])
    options.add(answer)

In [299]:
hearing_imp_qs = filtered[hearing_imp_f3393]
s = hearing_imp_qs.apply(find_options, axis=1)
hearing_imp_qs = filtered[hearing_imp_f2247]
s = hearing_imp_qs.apply(find_options, axis=1)
hearing_imp_qs = filtered[hearing_imp_f2257]
s = hearing_imp_qs.apply(find_options, axis=1)

In [300]:
options

{'',
 '0',
 '00',
 '000',
 '0000',
 '0001',
 '0009',
 '001',
 '0010',
 '0011',
 '0019',
 '009',
 '0090',
 '0091',
 '0099',
 '01',
 '010',
 '0100',
 '0101',
 '011',
 '0110',
 '0111',
 '019',
 '09',
 '090',
 '0900',
 '0901',
 '091',
 '0910',
 '0911',
 '099',
 '0991',
 '1',
 '10',
 '100',
 '1000',
 '1001',
 '101',
 '1011',
 '109',
 '1090',
 '1099',
 '11',
 '110',
 '1100',
 '1101',
 '111',
 '1110',
 '1111',
 '1119',
 '119',
 '1190',
 '1191',
 '19',
 '190',
 '1900',
 '191',
 '199',
 '9',
 '90',
 '900',
 '9000',
 '901',
 '909',
 '91',
 '910',
 '911',
 '9110',
 '9111',
 '919',
 '99',
 '990',
 '991',
 '999',
 '9999'}

In [301]:
just_do_not_know = [i for i in options if '0' not in i and '9' in i and '1' not in i]
do_not_know_no = [i for i in options if '0' in i and '9' in i and '1' not in i]
do_not_know_yes = [i for i in options if '0' not in i and '9' in i and '1' in i]
yes_no = [i for i in options if '0' in i and '9' not in i and '1' in i]
with_all_three = [i for i in options if '0' in i and '9' in i and '1' in i]
might_inconsistent = do_not_know_no + do_not_know_yes + yes_no + with_all_three
exceptions = ["91","911","9111","991","0001","001","0011","01","011","0111", "0091", "091","0911","0991","9001","901","9011", "90", "900", "9000", "990"]
inconsistent = [i for i in might_inconsistent if i not in exceptions]

In [302]:
inconsistent

['0009',
 '09',
 '0090',
 '090',
 '909',
 '0900',
 '0099',
 '009',
 '099',
 '199',
 '19',
 '1191',
 '919',
 '119',
 '191',
 '1119',
 '1101',
 '1001',
 '0100',
 '0010',
 '100',
 '1100',
 '101',
 '110',
 '0101',
 '1011',
 '010',
 '1110',
 '10',
 '0110',
 '1000',
 '910',
 '1190',
 '0019',
 '0910',
 '019',
 '1090',
 '109',
 '1099',
 '190',
 '9110',
 '0901',
 '1900']

In [303]:
def find_empty(row):
    for i in row:
        if not pd.isna(i):
            return False
    return True

In [304]:
def find_dont_know(row):
    temp = []
    for i in row:
        if not pd.isna(i):
            temp.append(i)
        
    if "Do not know" in temp and "Yes" not in temp and "No" not in temp:
        return True
    return False

In [305]:
# will return true if that row should be removed
# pass one pheno at a time
def find_inconsistencies(row):
    for i in row:
        if not pd.isna(i) and i == "I am completely deaf":
            return True
    
    answer = "".join([str(hearing_ans[i]) for i in row if not pd.isna(i) and i != "I am completely deaf" and i != "Prefer not to answer"])
    if answer in inconsistent:
        return True
    return False

# if we have individuals that either don't answer or prefer not to say only then we cancel them out
# return true if all the rows have no definitive answers
def find_all_none(row):
    for i in row:
        if not pd.isna(i) and (i == "Yes" or i == "No"):
            return False
    return True

### Error checking numbers

In [306]:
hearing_imp_qs = filtered[hearing_imp_f2257]
sum(hearing_imp_qs.apply(find_empty, axis=1))

232

In [307]:
hearing_imp_qs = filtered[hearing_imp_f2257]
sum(hearing_imp_qs.apply(find_dont_know, axis=1))

3187

In [308]:
hearing_imp_qs = filtered[hearing_imp_f2247]
sum(hearing_imp_qs.apply(find_dont_know, axis=1))

6759

In [309]:
hearing_imp_qs = filtered[hearing_imp_f3393]
sum(hearing_imp_qs.apply(find_dont_know, axis=1))

0

In [310]:
hearing_imp_qs = filtered[hearing_imp_f2257]
sum(hearing_imp_qs.apply(find_inconsistencies, axis=1))

2933

In [311]:
hearing_imp_qs = filtered[hearing_imp_f3393 + hearing_imp_f2247 + hearing_imp_f2257]
sum(hearing_imp_qs.apply(find_all_none, axis=1))

708

### Filtering out the data

In [312]:
filtered

,IID,FID,ignore1,ignore2,ignore3,ignore4,f.31.0.0,f.34.0.0,f.53.0.0,f.53.1.0,...,f.131231.0.0,f.131232.0.0,f.131233.0.0,f.131250.0.0,f.131251.0.0,f.131252.0.0,f.131253.0.0,f3393,f2247,f2257
1,1000035,1000035,0,0,1,-9,Male,1944,2007-11-08,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
2,1000078,1000078,0,0,2,-9,Female,1955,2007-08-20,2012-11-01,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
3,1000081,1000081,0,0,1,-9,Male,1942,2009-12-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
4,1000198,1000198,0,0,2,-9,Female,1967,2009-03-27,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
5,1000210,1000210,0,0,1,-9,Male,1941,2008-02-11,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189004,6025295,6025295,0,0,1,-9,Male,1961,2008-01-24,<NA>,...,Primary care only,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
189005,6025319,6025319,0,0,2,-9,Female,1953,2010-02-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
189006,6025346,6025346,0,0,2,-9,Female,1954,2008-08-19,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
189007,6025363,6025363,0,0,1,-9,Male,1944,2008-05-17,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
189008,6025411,6025411,0,0,2,-9,Female,1960,2010-04-29,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False

In [313]:
hearing_imp_qs = filtered[hearing_imp_f3393]
exclude = hearing_imp_qs.apply(find_inconsistencies, axis=1)
filtered = filtered[~exclude]

hearing_imp_qs = filtered[hearing_imp_f2247]
exclude = hearing_imp_qs.apply(find_inconsistencies, axis=1)
filtered = filtered[~exclude]

hearing_imp_qs = filtered[hearing_imp_f2257]
exclude = hearing_imp_qs.apply(find_inconsistencies, axis=1)
filtered = filtered[~exclude]

hearing_imp_qs = filtered[hearing_imp_f3393 + hearing_imp_f2247 + hearing_imp_f2257]
exclude = hearing_imp_qs.apply(find_all_none, axis=1)
filtered = filtered[~exclude]

In [314]:
filtered

,IID,FID,ignore1,ignore2,ignore3,ignore4,f.31.0.0,f.34.0.0,f.53.0.0,f.53.1.0,...,f.131231.0.0,f.131232.0.0,f.131233.0.0,f.131250.0.0,f.131251.0.0,f.131252.0.0,f.131253.0.0,f3393,f2247,f2257
1,1000035,1000035,0,0,1,-9,Male,1944,2007-11-08,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
2,1000078,1000078,0,0,2,-9,Female,1955,2007-08-20,2012-11-01,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
3,1000081,1000081,0,0,1,-9,Male,1942,2009-12-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
4,1000198,1000198,0,0,2,-9,Female,1967,2009-03-27,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
5,1000210,1000210,0,0,1,-9,Male,1941,2008-02-11,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189004,6025295,6025295,0,0,1,-9,Male,1961,2008-01-24,<NA>,...,Primary care only,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
189005,6025319,6025319,0,0,2,-9,Female,1953,2010-02-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
189006,6025346,6025346,0,0,2,-9,Female,1954,2008-08-19,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
189007,6025363,6025363,0,0,1,-9,Male,1944,2008-05-17,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False
189008,6025411,6025411,0,0,2,-9,Female,1960,2010-04-29,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False

## Identify Pure Controls

Need to make sure that for f.3393, f.2247, and f.2257 we obtain the individuals that say no.

The conditions for saying no are as follows:
* Never saying yes
* Not being inconsistent
* Saying no at least once (prefer not to say is allowed)

In [315]:
# returns 1 if it's a case and 0 if it's a ctrl
def find_ctrl(row):
    answer = "".join([str(hearing_ans[i]) for i in row if not pd.isna(i) and i != "Prefer not to answer"])
    if "0" in answer and "1" not in answer:
        return 0
    return 1

def find_ctrl_or_NA(row):
    for i in row:
        if "Do not know" == i or "Yes" == i or "Prefer not to answer" == i:
            return 1
    return 0

In [316]:
hearing_imp_qs = filtered[hearing_imp_f3393]
f3393_ctrl = hearing_imp_qs.apply(find_ctrl, axis=1).to_list()
hearing_imp_qs = filtered[hearing_imp_f2247]
f2247_ctrl = hearing_imp_qs.apply(find_ctrl, axis=1).to_list()
hearing_imp_qs = filtered[hearing_imp_f2257]
f2257_ctrl = hearing_imp_qs.apply(find_ctrl, axis=1).to_list()

In [317]:
pure_ctrl = [0 if f2247_ctrl[en] == 0 and f2257_ctrl[en] == 0 else 1 for en, i in enumerate(f3393_ctrl)]

In [318]:
filtered["hearing_imp_pure_ctrl"] = pure_ctrl

/tmp/1688555.1.csg.q/ipykernel_33022/4236504010.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["hearing_imp_pure_ctrl"] = pure_ctrl

In [319]:
filtered

,IID,FID,ignore1,ignore2,ignore3,ignore4,f.31.0.0,f.34.0.0,f.53.0.0,f.53.1.0,...,f.131232.0.0,f.131233.0.0,f.131250.0.0,f.131251.0.0,f.131252.0.0,f.131253.0.0,f3393,f2247,f2257,hearing_imp_pure_ctrl
1,1000035,1000035,0,0,1,-9,Male,1944,2007-11-08,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,1
2,1000078,1000078,0,0,2,-9,Female,1955,2007-08-20,2012-11-01,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,0
3,1000081,1000081,0,0,1,-9,Male,1942,2009-12-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,0
4,1000198,1000198,0,0,2,-9,Female,1967,2009-03-27,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,1
5,1000210,1000210,0,0,1,-9,Male,1941,2008-02-11,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189004,6025295,6025295,0,0,1,-9,Male,1961,2008-01-24,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,0
189005,6025319,6025319,0,0,2,-9,Female,1953,2010-02-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,0
189006,6025346,6025346,0,0,2,-9,Female,1954,2008-08-19,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,0
189007,6025363,6025363,0,0,1,-9,Male,1944,2008-05-17,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,0
189008,6025411,6025411,0,0,2,-9,Female,1960,2010-04-29,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,0

In [320]:
ages_f21003_col = [col for col in filtered if "f.21003" in col]
ages_f21003_col

['f.21003.0.0', 'f.21003.1.0', 'f.21003.2.0', 'f.21003.3.0']

In [321]:
filtered[ages_f21003_col]

       f.21003.0.0 f.21003.1.0 f.21003.2.0 f.21003.3.0
1               63        <NA>        <NA>        <NA>
2               52          57          60        <NA>
3               67        <NA>        <NA>        <NA>
4               41        <NA>        <NA>        <NA>
5               66        <NA>        <NA>        <NA>
...            ...         ...         ...         ...
189004          46        <NA>        <NA>        <NA>
189005          56        <NA>        <NA>        <NA>
189006          53        <NA>        <NA>        <NA>
189007          64        <NA>        <NA>        <NA>
189008          49        <NA>        <NA>        <NA>

[176878 rows x 4 columns]

In [322]:
filtered

,IID,FID,ignore1,ignore2,ignore3,ignore4,f.31.0.0,f.34.0.0,f.53.0.0,f.53.1.0,...,f.131232.0.0,f.131233.0.0,f.131250.0.0,f.131251.0.0,f.131252.0.0,f.131253.0.0,f3393,f2247,f2257,hearing_imp_pure_ctrl
1,1000035,1000035,0,0,1,-9,Male,1944,2007-11-08,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,1
2,1000078,1000078,0,0,2,-9,Female,1955,2007-08-20,2012-11-01,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,0
3,1000081,1000081,0,0,1,-9,Male,1942,2009-12-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,0
4,1000198,1000198,0,0,2,-9,Female,1967,2009-03-27,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,1
5,1000210,1000210,0,0,1,-9,Male,1941,2008-02-11,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189004,6025295,6025295,0,0,1,-9,Male,1961,2008-01-24,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,0
189005,6025319,6025319,0,0,2,-9,Female,1953,2010-02-03,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,0
189006,6025346,6025346,0,0,2,-9,Female,1954,2008-08-19,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,0
189007,6025363,6025363,0,0,1,-9,Male,1944,2008-05-17,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,0
189008,6025411,6025411,0,0,2,-9,Female,1960,2010-04-29,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False,False,0

In [323]:
ages_f21003 = filtered[hearing_imp_f3393 + hearing_imp_f2247 + hearing_imp_f2257 + ages_f21003_col + ["hearing_imp_pure_ctrl"]]

In [324]:
ages_f21003 = ages_f21003.reset_index()

In [325]:
def get_age(row):
    phens = [hearing_imp_f3393, hearing_imp_f2247, hearing_imp_f2257]
    ages = []

    if row["hearing_imp_pure_ctrl"] == 0:
        temp_all_ages = row[ages_f21003_col].to_list()
        temp_all_ages.reverse()
        
        for phen in phens:
            temp = row[phen].to_list()
            temp.reverse()
            for en, i in enumerate(temp):
                if not pd.isna(i) and i == "No":
                    ages.append(temp_all_ages[en])
                    break
        ages.sort()
        return ages[-1]
    else:
        for phen in phens:
            temp = row[phen].to_list()
            for en, i in enumerate(temp):
                if not pd.isna(i) and i == "Yes":
                    ages.append(row[ages_f21003_col][en])
                    break
        if len(ages) == 0:
            temp_all_ages = row[ages_f21003_col].to_list()
            temp_all_ages.reverse()
        
            for phen in phens:
                temp = row[phen].to_list()
                temp.reverse()
                for en, i in enumerate(temp):
                    if not pd.isna(i) and i == "No":
                        ages.append(temp_all_ages[en])
                        break
            ages.sort()
            return ages[-1]
        else:
            ages.sort()
            return ages[0]

In [326]:
ages = ages_f21003.apply(get_age, axis=1)

In [327]:
ages_f21003

,index,f.3393.0.0,f.3393.1.0,f.3393.2.0,f.3393.3.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,f.2257.1.0,f.2257.2.0,f.2257.3.0,f.21003.0.0,f.21003.1.0,f.21003.2.0,f.21003.3.0,hearing_imp_pure_ctrl
0,1,No,<NA>,<NA>,<NA>,No,<NA>,<NA>,<NA>,Yes,<NA>,<NA>,<NA>,63,<NA>,<NA>,<NA>,1
1,2,<NA>,No,No,<NA>,No,No,No,<NA>,No,No,No,<NA>,52,57,60,<NA>,0
2,3,No,<NA>,<NA>,<NA>,No,<NA>,<NA>,<NA>,No,<NA>,<NA>,<NA>,67,<NA>,<NA>,<NA>,0
3,4,No,<NA>,<NA>,<NA>,Yes,<NA>,<NA>,<NA>,Yes,<NA>,<NA>,<NA>,41,<NA>,<NA>,<NA>,1
4,5,<NA>,<NA>,<NA>,<NA>,Do not know,<NA>,<NA>,<NA>,No,<NA>,<NA>,<NA>,66,<NA>,<NA>,<NA>,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176873,189004,<NA>,<NA>,<NA>,<NA>,No,<NA>,<NA>,<NA>,No,<NA>,<NA>,<NA>,46,<NA>,<NA>,<NA>,0
176874,189005,No,<NA>,<NA>,<NA>,No,<NA>,<NA>,<NA>,No,<NA>,<NA>,<NA>,56,<NA>,<NA>,<NA>,0
176875,189006,<NA>,<NA>,<NA>,<NA>,No,<NA>,<NA>,<NA>,No,<NA>,<NA>,<NA>,53,<NA>,<NA>,<NA>,0
176876,189007,<NA>,<NA>,<NA>,<NA>,No,<NA>,<NA>,<NA>,No,<NA>,<NA>,<NA>,64,<NA>,<NA>,<NA>,0
176877,189008,No,<NA>,<NA>,<NA>,No,<NA>,<NA>,<NA>,No,<NA>,<NA>,<NA>,49,<NA>,<NA>,<NA>,0

In [328]:
ages

0         63
1         60
2         67
3         41
4         66
          ..
176873    46
176874    56
176875    53
176876    64
176877    49
Length: 176878, dtype: object

In [329]:
filtered = filtered.reset_index()

/tmp/1688555.1.csg.q/ipykernel_33022/476735807.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered = filtered.reset_index()

In [330]:
filtered["age"] = ages

/tmp/1688555.1.csg.q/ipykernel_33022/2472187710.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["age"] = ages

In [331]:
def find_sex(row):
    if row["f.31.0.0"] == "Male":
        return 1
    return 0

sex = filtered.apply(find_sex, axis=1)
sex

0         1
1         0
2         1
3         0
4         1
         ..
176873    1
176874    0
176875    0
176876    1
176877    0
Length: 176878, dtype: int64

In [332]:
filtered["sex"] = sex

/tmp/1688555.1.csg.q/ipykernel_33022/312352638.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["sex"] = sex

In [333]:
filtered

,index,IID,FID,ignore1,ignore2,ignore3,ignore4,f.31.0.0,f.34.0.0,f.53.0.0,...,f.131250.0.0,f.131251.0.0,f.131252.0.0,f.131253.0.0,f3393,f2247,f2257,hearing_imp_pure_ctrl,age,sex
0,1,1000035,1000035,0,0,1,-9,Male,1944,2007-11-08,...,<NA>,<NA>,<NA>,<NA>,False,False,False,1,63,1
1,2,1000078,1000078,0,0,2,-9,Female,1955,2007-08-20,...,<NA>,<NA>,<NA>,<NA>,False,False,False,0,60,0
2,3,1000081,1000081,0,0,1,-9,Male,1942,2009-12-03,...,<NA>,<NA>,<NA>,<NA>,False,False,False,0,67,1
3,4,1000198,1000198,0,0,2,-9,Female,1967,2009-03-27,...,<NA>,<NA>,<NA>,<NA>,False,False,False,1,41,0
4,5,1000210,1000210,0,0,1,-9,Male,1941,2008-02-11,...,<NA>,<NA>,<NA>,<NA>,False,False,False,1,66,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176873,189004,6025295,6025295,0,0,1,-9,Male,1961,2008-01-24,...,<NA>,<NA>,<NA>,<NA>,False,False,False,0,46,1
176874,189005,6025319,6025319,0,0,2,-9,Female,1953,2010-02-03,...,<NA>,<NA>,<NA>,<NA>,False,False,False,0,56,0
176875,189006,6025346,6025346,0,0,2,-9,Female,1954,2008-08-19,...,<NA>,<NA>,<NA>,<NA>,False,False,False,0,53,0
176876,189007,6025363,6025363,0,0,1,-9,Male,1944,2008-05-17,...,<NA>,<NA>,<NA>,<NA>,False,False,False,0,64,1
176877,189008,6025411,6025411,0,0,2,-9,Female,1960,2010-04-29,...,<NA>,<NA>,<NA>,<NA>,False,False,False,0,49,0

In [335]:
saved_2_filtered = filtered

In [336]:
filtered = saved_2_filtered

In [385]:
# return 1 if we have a yes (used to find phenos)
def find_yes(row):
    for i in row:
        if not pd.isna(i) and i == "Yes":
            return 1
    return 0

# return 1 if we have a match for the mendelian traits and have at least one of the hearing phenotypes
def find_medelian_like(row):
    mendelian_icd10 = ["H903", "H905", "H906", "H908", "H913", "H918", "H919"]
    mendelian_icd9 = ["3891", "3892", "3897", "3898", "3899"]
    if 1 in row[["f3393", "f2247", "f2257"]].to_list():
        for i in row[icd_10_cols]:
            if not pd.isna(i) and i in mendelian_icd10:
                return 1
        for i in row[icd_9_cols]:
            if not pd.isna(i) and i in mendelian_icd9:
                return 1
    return 0
    
# return 1 if we have a match for the other cases of f3393 or originally had f3393
def find_f3393_other_cases(row):
    mendelian_icd10 = ["Z461", "Z974"]
    mendelian_icd9 = ["V412", "V532"]
    if 0 == int(row["f3393"]):
        for i in row[icd_10_cols]:
            if not pd.isna(i) and i in mendelian_icd10:
                return 1
        for i in row[icd_9_cols]:
            if not pd.isna(i) and i in mendelian_icd9:
                return 1
    return int(row["f3393"])
    
def check_code(row):
    for i in row:
        if not pd.isna(i) and i == "H919":
            return 1
    return 0

In [391]:
hearing_imp_qs = filtered[hearing_imp_f3393]
filtered["f3393"] = hearing_imp_qs.apply(find_yes, axis=1)
filtered["f3393"] = filtered[["f3393"] + icd_10_cols + icd_9_cols].apply(find_f3393_other_cases, axis=1)

hearing_imp_qs = filtered[hearing_imp_f2247]
filtered["f2247"] = hearing_imp_qs.apply(find_yes, axis=1)

hearing_imp_qs = filtered[hearing_imp_f2257]
filtered["f2257"] = hearing_imp_qs.apply(find_yes, axis=1)

filtered["mendilian-like"] = filtered[icd_10_cols + icd_9_cols + ["age", "f3393", "f2247", "f2257"]].apply(find_medelian_like, axis=1)

## File Output

In [392]:
filtered

,index,IID,FID,ignore1,ignore2,ignore3,ignore4,f.31.0.0,f.34.0.0,f.53.0.0,...,f.131251.0.0,f.131252.0.0,f.131253.0.0,f3393,f2247,f2257,hearing_imp_pure_ctrl,age,sex,mendilian-like
0,1,1000035,1000035,0,0,1,-9,Male,1944,2007-11-08,...,<NA>,<NA>,<NA>,0,0,1,1,63,1,0
1,2,1000078,1000078,0,0,2,-9,Female,1955,2007-08-20,...,<NA>,<NA>,<NA>,0,0,0,0,60,0,0
2,3,1000081,1000081,0,0,1,-9,Male,1942,2009-12-03,...,<NA>,<NA>,<NA>,0,0,0,0,67,1,0
3,4,1000198,1000198,0,0,2,-9,Female,1967,2009-03-27,...,<NA>,<NA>,<NA>,0,1,1,1,41,0,0
4,5,1000210,1000210,0,0,1,-9,Male,1941,2008-02-11,...,<NA>,<NA>,<NA>,0,0,0,1,66,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176873,189004,6025295,6025295,0,0,1,-9,Male,1961,2008-01-24,...,<NA>,<NA>,<NA>,0,0,0,0,46,1,0
176874,189005,6025319,6025319,0,0,2,-9,Female,1953,2010-02-03,...,<NA>,<NA>,<NA>,0,0,0,0,56,0,0
176875,189006,6025346,6025346,0,0,2,-9,Female,1954,2008-08-19,...,<NA>,<NA>,<NA>,0,0,0,0,53,0,0
176876,189007,6025363,6025363,0,0,1,-9,Male,1944,2008-05-17,...,<NA>,<NA>,<NA>,0,0,0,0,64,1,0
176877,189008,6025411,6025411,0,0,2,-9,Female,1960,2010-04-29,...,<NA>,<NA>,<NA>,0,0,0,0,49,0,0

In [393]:
filtered[filtered["hearing_imp_pure_ctrl"] == 0][["IID", "FID", "sex", "hearing_imp_pure_ctrl", "age"]].to_csv("pure_ctrl_pheno_file.csv", sep=',', index=False)

In [394]:
filtered[filtered["f3393"] == 1][["IID", "FID", "sex", "f3393", "age"]].to_csv("f3393_pheno_file.csv", sep=',', index=False)

In [395]:
filtered[filtered["f2247"] == 1][["IID", "FID", "sex", "f2247", "age"]].to_csv("f2247_pheno_file.csv", sep=',', index=False)

In [396]:
filtered[filtered["f2257"] == 1][["IID", "FID", "sex", "f2257", "age"]].to_csv("f2257_pheno_file.csv", sep=',', index=False)

In [397]:
filtered[filtered["mendilian-like"] == 1][["IID", "FID", "sex", "mendilian-like", "age"]].to_csv("mendilian-like_pheno_file.csv", sep=',', index=False)

## Merge Pheno w Ctrl

In [142]:
ctrl_file_name = "pure_ctrl_pheno_file.csv"
pheno_file_name = "f3393_pheno_file.csv"

In [143]:
pheno = pd.read_csv(pheno_file_name)
ctrl = pd.read_csv(ctrl_file_name)

In [144]:
pheno

          IID      FID  sex  f3393  age
0     1001384  1001384    0      1   61
1     1002548  1002548    1      1   62
2     1002888  1002888    1      1   68
3     1002944  1002944    1      1   65
4     1003258  1003258    1      1   69
...       ...      ...  ...    ...  ...
6255  6020760  6020760    1      1   64
6256  6020836  6020836    1      1   58
6257  6022567  6022567    1      1   62
6258  6023186  6023186    1      1   67
6259  6023568  6023568    0      1   68

[6260 rows x 5 columns]

In [85]:
ctrl = ctrl.rename(columns={ctrl.columns[3]:pheno.columns[3]})
ctrl

           IID      FID  sex  f2257  age
0      1000078  1000078    0      0   60
1      1000081  1000081    1      0   67
2      1000224  1000224    0      0   58
3      1000236  1000236    1      0   70
4      1000255  1000255    0      0   61
...        ...      ...  ...    ...  ...
98019  6025295  6025295    1      0   46
98020  6025319  6025319    0      0   56
98021  6025346  6025346    0      0   53
98022  6025363  6025363    1      0   64
98023  6025411  6025411    0      0   49

[98024 rows x 5 columns]

In [86]:
full_pheno = pheno.append(ctrl)
full_pheno

           IID      FID  sex  f2257  age
0      1000035  1000035    1      1   63
1      1000198  1000198    0      1   41
2      1000304  1000304    0      1   56
3      1000396  1000396    1      1   48
4      1000494  1000494    1      1   61
...        ...      ...  ...    ...  ...
98019  6025295  6025295    1      0   46
98020  6025319  6025319    0      0   56
98021  6025346  6025346    0      0   53
98022  6025363  6025363    1      0   64
98023  6025411  6025411    0      0   49

[164578 rows x 5 columns]

In [87]:
full_pheno.to_csv("full_"+pheno_file_name, sep=',', index=False)

### View Filtered Data

In [398]:
ctrl_file_name = "pure_ctrl_pheno_file.csv"
f3393_file_name = "f3393_pheno_file.csv"
f2247_file_name = "f2247_pheno_file.csv"
f2257_file_name = "f2257_pheno_file.csv"
mendilianlike_file_name = "mendilian-like_pheno_file.csv"

In [399]:
f3393 = pd.read_csv(f3393_file_name)
f2247 = pd.read_csv(f2247_file_name)
f2257 = pd.read_csv(f2257_file_name)
ctrl = pd.read_csv(ctrl_file_name)
mendlike = pd.read_csv(mendilianlike_file_name)

In [400]:
mendlike

          IID      FID  sex  mendilian-like  age
0     1001196  1001196    1               1   59
1     1002888  1002888    1               1   68
2     1003258  1003258    1               1   69
3     1009274  1009274    1               1   69
4     1013421  1013421    1               1   65
...       ...      ...  ...             ...  ...
1338  6009163  6009163    1               1   40
1339  6011814  6011814    1               1   61
1340  6015553  6015553    1               1   61
1341  6017583  6017583    0               1   65
1342  6023568  6023568    0               1   68

[1343 rows x 5 columns]

In [401]:
f3393

          IID      FID  sex  f3393  age
0     1001384  1001384    0      1   61
1     1002548  1002548    1      1   62
2     1002888  1002888    1      1   68
3     1002944  1002944    1      1   65
4     1003258  1003258    1      1   69
...       ...      ...  ...    ...  ...
6320  6020760  6020760    1      1   64
6321  6020836  6020836    1      1   58
6322  6022567  6022567    1      1   62
6323  6023186  6023186    1      1   67
6324  6023568  6023568    0      1   68

[6325 rows x 5 columns]

In [402]:
f2247

           IID      FID  sex  f2247  age
0      1000198  1000198    0      1   41
1      1000396  1000396    1      1   48
2      1000494  1000494    1      1   61
3      1001076  1001076    1      1   69
4      1001123  1001123    0      1   62
...        ...      ...  ...    ...  ...
46279  6024277  6024277    1      1   63
46280  6024376  6024376    1      1   64
46281  6024546  6024546    1      1   61
46282  6024841  6024841    1      1   61
46283  6024997  6024997    0      1   58

[46284 rows x 5 columns]

In [403]:
f2257

           IID      FID  sex  f2257  age
0      1000035  1000035    1      1   63
1      1000198  1000198    0      1   41
2      1000304  1000304    0      1   56
3      1000396  1000396    1      1   48
4      1000494  1000494    1      1   61
...        ...      ...  ...    ...  ...
66694  6024796  6024796    0      1   62
66695  6024829  6024829    0      1   56
66696  6024841  6024841    1      1   61
66697  6024870  6024870    0      1   53
66698  6024997  6024997    0      1   58

[66699 rows x 5 columns]

In [404]:
ctrl

           IID      FID  sex  hearing_imp_pure_ctrl  age
0      1000078  1000078    0                      0   60
1      1000081  1000081    1                      0   67
2      1000224  1000224    0                      0   58
3      1000236  1000236    1                      0   70
4      1000255  1000255    0                      0   61
...        ...      ...  ...                    ...  ...
98306  6025295  6025295    1                      0   46
98307  6025319  6025319    0                      0   56
98308  6025346  6025346    0                      0   53
98309  6025363  6025363    1                      0   64
98310  6025411  6025411    0                      0   49

[98311 rows x 5 columns]