In [8]:
import pandas as pd
import numpy as np
import csv
#columns= ['Chr', "Start", "Ref", "Alt", "Gene.refGene", "ExonicFunc.refGene", "avsnp150", "AF_nfe" ]
#df = pd.read_csv('~/MWE_regenie/annotation/1000G.EUR.hg19.hg19_multianno_avsnp150.csv.gz', compression='gzip',dtype='string', header=0, usecols=columns, index_col=False)

In [9]:
columns= ['Chr', "Start", "Ref", "Alt", "Gene.refGene", "ExonicFunc.refGene", "avsnp150", "AF_nfe", "Otherinfo1" ]
anno = pd.read_csv('~/MWE_regenie/annotation/1000G.EUR.hg19.hg19_multianno.csv', dtype='string', sep=',', header=0, usecols=columns, index_col=False)

In [13]:
# Get the refGene definition
anno.head(20)

   Chr  Start Ref Alt  ... ExonicFunc.refGene  AF_nfe     avsnp150   Otherinfo1
0    1  11008   C   G  ...                  .       .  rs575272151  rs575272151
1    1  11012   C   G  ...                  .       .  rs544419019  rs544419019
2    1  13110   G   A  ...                  .       .  rs540538026  rs540538026
3    1  13116   T   G  ...                  .       .   rs62635286   rs62635286
4    1  13118   A   G  ...                  .       .   rs62028691  rs200579949
5    1  13273   G   C  ...                  .       .  rs531730856  rs531730856
6    1  13550   G   A  ...                  .  0.0111  rs554008981  rs554008981
7    1  14464   A   T  ...                  .       .  rs546169444  rs546169444
8    1  14599   T   A  ...                  .       .     rs707680  rs531646671
9    1  14604   A   G  ...                  .       .  rs541940975  rs541940975
10   1  14933   G   A  ...                  .       .  rs199856693  rs199856693
11   1  15644   G   A  ...                  .       .  rs564003018  rs564003018
12   1  15774   G   A  ...                  .       .  rs374029747  rs374029747
13   1  15777   A   G  ...                  .       .    rs2691317  rs568149713
14   1  15820   G   T  ...                  .       .    rs2691315    rs2691315
15   1  16949   A   C  ...                  .       .  rs199745162  rs199745162
16   1  18643   G   A  ...                  .       .  rs564023708  rs564023708
17   1  18849   G   C  ...                  .       .            .  rs533090414
18   1  30923   T   G  ...                  .       .            .     rs806731
19   1  50891   T   C  ...                  .       .  rs542415070  rs542415070

[20 rows x 9 columns]

In [14]:
# Get only the first gene name present
rsid=1
df1 = anno["Gene.refGene"].str.split(";", n = 1, expand = True)
anno["Gene"]= df1[0]

In [15]:
# Get the variants in the chr, pos, ref, alt format
if rsid == 1:
    anno["varID"] = anno.avsnp150
    tmp = anno[~anno["avsnp150"].str.startswith('rs', na=False)]
    tmp["varID"] = tmp.Chr.str.cat(others=[tmp.Start, tmp.Ref, tmp.Alt], sep=':')
    anno[~anno["avsnp150"].str.startswith('rs', na=False)] = tmp
else:
    anno["varID"] = anno.Chr.str.cat(others=[anno.Start, anno.Ref, anno.Alt], sep=':')

/home/dmc2245/miniconda3/lib/python3.8/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [16]:
anno.head(13)

   Chr  Start Ref Alt  ...     avsnp150   Otherinfo1     Gene        varID
0    1  11008   C   G  ...  rs575272151  rs575272151  DDX11L1  rs575272151
1    1  11012   C   G  ...  rs544419019  rs544419019  DDX11L1  rs544419019
2    1  13110   G   A  ...  rs540538026  rs540538026  DDX11L1  rs540538026
3    1  13116   T   G  ...   rs62635286   rs62635286  DDX11L1   rs62635286
4    1  13118   A   G  ...   rs62028691  rs200579949  DDX11L1   rs62028691
5    1  13273   G   C  ...  rs531730856  rs531730856  DDX11L1  rs531730856
6    1  13550   G   A  ...  rs554008981  rs554008981  DDX11L1  rs554008981
7    1  14464   A   T  ...  rs546169444  rs546169444   WASH7P  rs546169444
8    1  14599   T   A  ...     rs707680  rs531646671   WASH7P     rs707680
9    1  14604   A   G  ...  rs541940975  rs541940975   WASH7P  rs541940975
10   1  14933   G   A  ...  rs199856693  rs199856693   WASH7P  rs199856693
11   1  15644   G   A  ...  rs564003018  rs564003018   WASH7P  rs564003018
12   1  15774   G   A  ...  rs374029747  rs374029747   WASH7P  rs374029747

[13 rows x 11 columns]

In [17]:
tmp1=anno.replace({'AF_nfe':'.'},'0.0')

In [18]:
tmp1.head()

  Chr  Start Ref Alt  ...     avsnp150   Otherinfo1     Gene        varID
0   1  11008   C   G  ...  rs575272151  rs575272151  DDX11L1  rs575272151
1   1  11012   C   G  ...  rs544419019  rs544419019  DDX11L1  rs544419019
2   1  13110   G   A  ...  rs540538026  rs540538026  DDX11L1  rs540538026
3   1  13116   T   G  ...   rs62635286   rs62635286  DDX11L1   rs62635286
4   1  13118   A   G  ...   rs62028691  rs200579949  DDX11L1   rs62028691

[5 rows x 11 columns]

In [19]:
tmp1[tmp1["AF_nfe"] != '0.0']

        Chr     Start Ref  ...   Otherinfo1          Gene        varID
6         1     13550   G  ...  rs554008981       DDX11L1  rs554008981
86        1    138593   G  ...  rs375595668     LOC729737  rs375595668
87        1    138817   T  ...  rs556938922     LOC729737  rs556938922
104       1    324822   A  ...  rs576317820  LOC100132062  rs576317820
155       1    567696   C  ...  rs367588992      MIR12136  rs367588992
...      ..       ...  ..  ...          ...           ...          ...
9997013  22  51178090   G  ...    rs2285395           ACR    rs2285395
9997014  22  51178419   C  ...  rs182889325           ACR  rs182889325
9997015  22  51178607   G  ...    rs6010067           ACR    rs6010067
9997017  22  51179000   C  ...    rs2283675           ACR    rs2283675
9997225  22  51237364   A  ...  rs200607599     RPL23AP82  rs200607599

[129060 rows x 11 columns]

In [20]:
tmp1["AF_nfe"][tmp1["AF_nfe"] == '0.0'].value_counts()

0.0    9868171
Name: AF_nfe, dtype: Int64

In [22]:
anno.dtypes

Chr                   string
Start                 string
Ref                   string
Alt                   string
Gene.refGene          string
ExonicFunc.refGene    string
AF_nfe                string
avsnp150              string
Otherinfo1            string
Gene                  string
varID                 string
dtype: object

In [23]:
tmp1['AF_nfe_mod'] = tmp1['AF_nfe'].astype(float)

In [24]:
display(tmp1.iloc[4304])

Chr                                1
Start                        1572530
Ref                                A
Alt                                C
Gene.refGene                  CDK11B
ExonicFunc.refGene    synonymous SNV
AF_nfe                        0.0040
avsnp150                 rs190165683
Otherinfo1               rs190165683
Gene                          CDK11B
varID                    rs190165683
AF_nfe_mod                     0.004
Name: 4304, dtype: object

In [26]:
# Drop duplicated variants
df2=anno.drop_duplicates(subset='varID', keep='first')

In [27]:
df2.head()

  Chr  Start Ref Alt  ...     avsnp150   Otherinfo1     Gene        varID
0   1  11008   C   G  ...  rs575272151  rs575272151  DDX11L1  rs575272151
1   1  11012   C   G  ...  rs544419019  rs544419019  DDX11L1  rs544419019
2   1  13110   G   A  ...  rs540538026  rs540538026  DDX11L1  rs540538026
3   1  13116   T   G  ...   rs62635286   rs62635286  DDX11L1   rs62635286
4   1  13118   A   G  ...   rs62028691  rs200579949  DDX11L1   rs62028691

[5 rows x 11 columns]

In [28]:
 # Find duplicated genes in the file
genes = dict()
def find_chrom(row):
    if row["Gene"] not in genes.keys():
        genes[row["Gene"]] = set()
    genes[row["Gene"]].add(row["Chr"])
df2[["Chr", "Gene"]].apply(find_chrom, axis=1)
    
    # Rename the duplicated genes adding the chromosome number to make them unique
def rename_chrom(row):
    if len(genes[row["Gene"]]) > 1:
        return f'{row["Gene"]}-{row["Chr"]}'
    return row["Gene"]
df2["Gene"] = df2.apply(rename_chrom, axis=1)

/home/dmc2245/miniconda3/lib/python3.8/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [29]:
# Match annovar annotations with regenie_burden needs 
annotation_mappings = {"nonsynonymous":'missense', "frameshift":'LoF', "stopgain":'LoF', "stoploss":'LoF', "synonymous":'synonymous'}
def annotation(x):
    x = x.strip().split()
    for i in x:
        if i in annotation_mappings.keys():
            return annotation_mappings[i]
    return 'other'
df2["anno_cat"] = df2["ExonicFunc.refGene"].apply(annotation)

In [30]:
df2.head()

    Chr  Start Ref Alt  ... AF_nfe       Gene        varID anno_cat
0     1  11008   C   G  ...      .    DDX11L1            .    other
19    1  50891   T   C  ...      .  FAM138A-1  rs542415070    other
20    1  51047   A   T  ...      .  FAM138A-1  rs559500163    other
21    1  51049   A   C  ...      .  FAM138A-1  rs528344458    other
22    1  51050   A   T  ...      .  FAM138A-1  rs551668143    other

[5 rows x 11 columns]

In [ ]:
# Create the anno_file and add chr in the beggining to match the plink bim files
with open('${_output[0]}', 'w') as output:
    for row in df2[["varID", "Gene", "anno_cat"]].to_numpy():
        if rsid == 1:
            output.write(f'{row[0]} {row[1]} {row[2]}\n')
        else: 
            output.write(f'chr{row[0]} {row[1]} {row[2]}\n')