In [1]:
import pandas as pd
import numpy as np
import csv

columns= ['Chr', "Start", "Ref", "Alt", "Gene.refGene", "ExonicFunc.refGene", "avsnp150", "AF_nfe_exome", "Otherinfo1" ]
df = pd.read_csv('~/UKBiobank/results/ukb23155_200Kexomes_annovar/2021_10_12_hg38_exome/ukb23155_chr1_chr22_091321.hg38.hg38_multianno.renamedcols.csv.gz', compression='gzip', header=0, dtype='string', usecols=columns, index_col=False)

In [2]:
df.head()

,Chr,Start,Ref,Alt,Gene.refGene,ExonicFunc.refGene,AF_nfe_exome,avsnp150,Otherinfo1
0,1,925862,G,A,SAMD11,.,.,.,chr1:925862:G:A
1,1,925869,G,A,SAMD11,.,0,rs745646476,chr1:925869:G:A
2,1,925870,C,T,SAMD11,.,0,.,chr1:925870:C:T
3,1,925874,C,G,SAMD11,.,9.056e-06,.,chr1:925874:C:G
4,1,925874,C,T,SAMD11,.,.,.,chr1:925874:C:T

In [3]:
chr12 = df[df["Chr"] == '12' ]

PUS7L = chr12[chr12['Gene.refGene'].str.contains("PUS7L")]

In [4]:
PUS7L.head()

,Chr,Start,Ref,Alt,Gene.refGene,ExonicFunc.refGene,AF_nfe_exome,avsnp150,Otherinfo1
9556441,12,43730320,T,C,PUS7L,.,.,rs910028819,chr12:43730320:T:C
9556442,12,43730322,G,T,PUS7L,.,.,.,chr12:43730322:G:T
9556443,12,43730324,C,T,PUS7L,.,.,.,chr12:43730324:C:T
9556444,12,43730339,G,T,PUS7L,.,9.411e-06,rs745828799,chr12:43730339:G:T
9556445,12,43730347,T,C,PUS7L,.,2.728e-05,rs375584432,chr12:43730347:T:C

In [9]:
columns=['ID']

In [10]:
variants = pd.read_csv('~/test/PUS7L/variant.list', header=None, names=columns)

In [11]:
variants
#listvars=variants.values.to_list()

                               ID
0          chr12:43730392:A:ATTAT
1              chr12:43730411:C:T
2    chr12:43730433:A:AAGATCAAAAG
3              chr12:43730434:A:C
4              chr12:43730435:G:A
..                            ...
214            chr12:43755191:C:A
215            chr12:43755195:A:T
216            chr12:43755212:T:C
217            chr12:43755227:A:G
218            chr12:43755233:T:C

[219 rows x 1 columns]

In [14]:
chr12[chr12['Otherinfo1'].isin([variants['ID']])]

Empty DataFrame
Columns: [Chr, Start, Ref, Alt, Gene.refGene, ExonicFunc.refGene, AF_nfe_exome, avsnp150, Otherinfo1]
Index: []