In [20]:
!touch phenotype.BMI.regenie_pred.list

In [22]:
_output.touch()
print(f'_output is {_output}')

_output is Unspecified

In [85]:
'.regenie_pred.list'.split("_pred",1)

['.regenie', '.list']

In [84]:
''.join('.regenie_pred_pred'.split("_pred",1))

'.regenie_pred'

In [3]:
'ukb23155_c2_b0_v1.missing.md'.rsplit("_",3)

['ukb23155', 'c2', 'b0', 'v1.missing.md']

In [79]:
phenoCol=["BMI", "T2D"]
for i in range(len(phenoCol)):
    print('%s' % (phenoCol[i]))

BMI
T2D

In [54]:
phenoCol=["BMI", "T2D"]
('%s' % (phenoCol[i]) for i in range(len(phenoCol)))

In [143]:
phenoCol=["BMI", "T2D"]
output = [print(str(phenoCol[i])+'.regenie.gz') for i in range(len(phenoCol))]

BMI.regenie.gz
T2D.regenie.gz

In [192]:
['%s' % i for i in phenoCol if i is not None]

['BMI', 'T2D']

In [155]:
phenoCol=["BMI", "T2D"]
' '.join(phenoCol)

'BMI T2D'

In [ ]:
${' '.join(['--covarColList %s ' % x for x in covarCol if x is not None])}

In [ ]:
${str(_output).rsplit('_',1)[0]}

In [ ]:
${str(_output).rsplit('_',1)[0]}

In [1]:
cwd=path('.')
name="ukb23155_c17_b0_v1"
phenoCol=["BMI_int", "T2D"]
output=[f'{cwd}/{name}_'+ str(phenoCol[i]) + '.regenie.gz' for i in range(len(phenoCol))]
output
output[0].rsplit('_',)[0]

'./ukb23155_c17_b0_v1_BMI'

In [5]:
name1="ukb23155_c1_b0_v1"
name1.rsplit('_',3)[0]

'ukb23155'

In [11]:
name1="ukb23155_c1_b0_v1_hearing_aid_cat.regenie"
name1.rsplit('_',3)[0]

'ukb23155_c1_b0_v1'

In [ ]:
tpl_file=/home/dc2325/project/bioworkflows/GWAS/farnam.yml
bfile=/gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/pleiotropy_geneticfiles/UKB_Caucasians_phenotypeindepqc120319_updated082020removedwithdrawnindiv.bed
sampleFile=/gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/ukb39554_imputeddataset/ukb32285_imputedindiv.sample
bgenFile=`echo /gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/ukb39554_imputeddataset/ukb_imp_chr{1..22}_v3.bgen`
unrelated_samples=/gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/pleiotropy_geneticfiles/unrelated_n307259/UKB_unrelatedcauc_phenotypes_asthmat2dbmiwaisthip_agesex_waisthipratio_040620
formatFile_regenie=~/project/UKBB_GWAS_dev/data/regenie_template.yml
#Container
container_lmm=/gpfs/gibbs/pi/dewan/data/UKBiobank/lmm.sif
container_marp=/gpfs/gibbs/pi/dewan/data/UKBiobank/marp.sif
# Directories
lmm_sos=~/project/bioworkflows/GWAS/LMM.ipynb
lmm_dir_regenie=/gpfs/gibbs/pi/dewan/data/UKBiobank/results/REGENIE
lmm_sbatch_regenie=../output/$(date +%Y-%m-%d)_lipids_imp-regenie.sbatch
phenoFile=/gpfs/gibbs/pi/dewan/data/UKBiobank/phenotype_files/pleiotropy_R01/phenotypesforanalysis/UKB_CAUC_lipidsforanalysis_apolipoproteinAandB,Hba1c_continuousandcategorical,egfrbyCKDEPI,serumcreatinine,UACR_inverseranknorm_110320
covarFile=/gpfs/gibbs/pi/dewan/data/UKBiobank/phenotype_files/pleiotropy_R01/phenotypesforanalysis/UKB_CAUC_lipidsforanalysis_apolipoproteinAandB,Hba1c_continuousandcategorical,egfrbyCKDEPI,serumcreatinine,UACR_inverseranknorm_110320
phenoCol="ApoA_int ApoB_int Creatinine_int Hba1c_int eGFR_int UACR_int"
covarCol="SEX Packyrs_smoking alcohol1 alcohol2 alcohol3 alcohol4" 
qCovarCol=AGE
maf_filter=0.001
geno_filter=0.0
hwe_filter=0.0
mind_filter=0.0
trait=
minMAC=4
bsize=1000
ylim=0
job_size=1
numThreads=22
reverse_log_p=True
lowmem_prefix=~/scratch60

sos dryrun ~/project/bioworkflows/GWAS/LMM.ipynb regenie \
    --cwd $lmm_dir_regenie \
    --bfile $bfile \
    --sampleFile $sampleFile \
    --bgenFile $bgenFile \
    --phenoFile $phenoFile \
    --formatFile $formatFile_regenie \
    --covarFile $covarFile \
    --phenoCol $phenoCol \
    --covarCol $covarCol \
    --qCovarCol $qCovarCol \
    --maf_filter $maf_filter \
    --geno_filter $geno_filter \
    --hwe_filter $hwe_filter \
    --mind_filter $mind_filter \
    --trait $trait \
    --minMAC $minMAC \
    --bsize $bsize \
    --numThreads $numThreads \
    --job_size $job_size \
    --ylim $ylim \
    --p-filter 1 \
    --reverse_log_p $reverse_log_p \
    --lowmem_prefix $lowmem_prefix \
    --container_lmm $container_lmm \
    --container_marp $container_marp

In [18]:
phenoCol=["BMI", "T2D"]
output= [str(phenoCol[i]) + '.regenie.gz' for i in range(len(phenoCol))]
print(output[i]) for i in range(len(output))

ParsingError: File contains parsing errors:
	[line  2]: phenoCol=["BMI", "T2D"]
output= [str(phenoCol[i]) + '.regenie.gz' for i in range(len(phenoCol))]
print(output[i]) for i in range(len(output))

Invalid statements: SyntaxError('invalid syntax', ('<string>', 3, 20, 'print(output[i]) for i in range(len(output))\n'))

In [204]:
phenoCol="BMI T2D"
for i in $phenoCol; do echo $i; done

BMI
T2D

In [28]:
!touch c1_BMI c2_BMI c3_T2D c4_T2D
input: 'c1_BMI', 'c2_BMI', 'c3_T2D', 'c4_T2D', group_by=2
print(f"{_index}: {_input}")

0: c1_BMI c2_BMI
1: c3_T2D c4_T2D

In [164]:
{str(output).rsplit('_',1)[0]}

ExecuteError: [0]:
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
script_6529672215103656320 in <module>
----> {str(output).rsplit('_',1)[0]}


NameError: name 'output' is not defined

In [27]:
animals = ['bear' , 'python' , 'peacock', 'kangaroo' , 'whale' , 'platypus']

# print "The first (1st) animal is at 0 and is a bear." 

for i in range(len(animals)):
    print ("The %d animal is at %d and is a %s" % (i+1 ,i, animals[i]))

The 1 animal is at 0 and is a bear
The 2 animal is at 1 and is a python
The 3 animal is at 2 and is a peacock
The 4 animal is at 3 and is a kangaroo
The 5 animal is at 4 and is a whale
The 6 animal is at 5 and is a platypus

In [89]:
letters = ['a', 'b']
status = [print(letters[i]) for i in range(len(letters))]

a
b

In [20]:
'/home/dc2325/output/cache/imputed_genotypes_chr21_BMI.regenie.Pval'.split('_',0)

['/home/dc2325/output/cache/imputed_genotypes_chr21_BMI.regenie.Pval']

In [21]:
'/home/dc2325/output/cache/imputed_genotypes_chr21_BMI.regenie.Pval'.rsplit('_', 1)

['/home/dc2325/output/cache/imputed_genotypes_chr21', 'BMI.regenie.Pval']

In [25]:
import pandas as pd
df = pd.read_csv('/home/dc2325/output/cache/imputed_genotypes_chr21_BMI.regenie', header=0, delim_whitespace=True)

In [ ]:
  ${''.join(['--out ${str(_output).rsplit('_',1)[0]}_%s ' % x for x in phenoCol if x is not None])}

In [26]:
df

    CHROM    GENPOS           ID  ...        SE     CHISQ    LOG10P
0      21  48096251   rs79945276  ...  0.967920  4.933320  1.579320
1      21  48096920   rs61504104  ...  0.783410  0.000062  0.002737
2      21  48097101   rs55777714  ...  0.592963  0.139089  0.149238
3      21  48097610   rs12626290  ...  0.616383  0.110455  0.130988
4      21  48098106   rs76528853  ...  1.436320  2.341700  0.899796
5      21  48099931  rs149643846  ...  1.583880  2.465390  0.934125
6      21  48100155   rs10483083  ...  0.977177  5.145520  1.632520
7      21  48100388   rs62224572  ...  0.855912  0.052333  0.086688
8      21  48100711  rs140397744  ...  0.964076  4.378910  1.439060
9      21  48101335    rs2839380  ...  0.450800  0.027469  0.061298
10     21  48104004   rs55912899  ...  0.854949  1.428770  0.634577
11     21  48105088  rs200215289  ...  0.589239  0.140468  0.150079
12     21  48108278  rs200775875  ...  0.510895  0.010156  0.036341
13     21  48109630  rs199628654  ...  0.893135  8.480830  2.445020
14     21  48114083  rs201322600  ...  0.532409  0.118262  0.136126
15     21  48114644  rs200588038  ...  0.713849  0.004075  0.022688
16     21  48115770  rs558149838  ...  1.604110  0.610642  0.361964
17     21  48116032  rs141010241  ...  1.590530  0.545827  0.337216
18     21  48119634  rs149048580  ...  0.655599  0.027182  0.060957

[19 rows x 12 columns]

In [27]:
df['P'] = df.apply(lambda row: 10**-row.LOG10P , axis = 1)

In [28]:
df

    CHROM    GENPOS           ID  ...     CHISQ    LOG10P         P
0      21  48096251   rs79945276  ...  4.933320  1.579320  0.026344
1      21  48096920   rs61504104  ...  0.000062  0.002737  0.993718
2      21  48097101   rs55777714  ...  0.139089  0.149238  0.709189
3      21  48097610   rs12626290  ...  0.110455  0.130988  0.739626
4      21  48098106   rs76528853  ...  2.341700  0.899796  0.125952
5      21  48099931  rs149643846  ...  2.465390  0.934125  0.116379
6      21  48100155   rs10483083  ...  5.145520  1.632520  0.023307
7      21  48100388   rs62224572  ...  0.052333  0.086688  0.819053
8      21  48100711  rs140397744  ...  4.378910  1.439060  0.036386
9      21  48101335    rs2839380  ...  0.027469  0.061298  0.868364
10     21  48104004   rs55912899  ...  1.428770  0.634577  0.231965
11     21  48105088  rs200215289  ...  0.140468  0.150079  0.707817
12     21  48108278  rs200775875  ...  0.010156  0.036341  0.919726
13     21  48109630  rs199628654  ...  8.480830  2.445020  0.003589
14     21  48114083  rs201322600  ...  0.118262  0.136126  0.730927
15     21  48114644  rs200588038  ...  0.004075  0.022688  0.949101
16     21  48115770  rs558149838  ...  0.610642  0.361964  0.434546
17     21  48116032  rs141010241  ...  0.545827  0.337216  0.460028
18     21  48119634  rs149048580  ...  0.027182  0.060957  0.869046

[19 rows x 13 columns]

In [31]:
df.to_csv('test.csv', sep=' ', index=False, columns = ('CHROM', 'GENPOS', 'ID','ALLELE0','ALLELE1','BETA','SE','P'))

In [33]:
var1= 'hola'
print(var1)

hola

In [ ]:
python:expand = "{ }", stderr = f'{_output:n}.stderr', stdout = f'{_output:n}.stdout'
    import pandas as pd
    df = pd.read_csv('{_output:nn}' , header=0, delim_whitespace=True)
    df['P'] = df.apply(lambda row: 10**-row.LOG10P , axis = 1) 
    df.to_csv('{_output:n}', sep=' ', index=False, columns = ('CHR', 'POS', 'SNP','REF','ALT','BETA','SE','P'))

In [ ]:
    if {reverse_log_p}:
        sumstats['P'] = sumstats['P'].apply(lambda row: 10**-row.LOG10P , axis = 1)

In [ ]:
f'{cwd}/{phenoFile:bn}_' + '_'.join(['%s' % x for x in phenoCol if x is not None]).{step_name.rsplit("_",1)[0]} + '.snp_stats.gz'

In [3]:
parameter: formatFile = path("/home/dc2325/project/UKBB_GWAS_DEV/data/regenie_template.yml")
python: expand= '${ }'
        if ${formatFile.is_file()}:
        import yaml
        import pandas as pd
        sumstats = pd.read_csv(output, compression='gzip', header=0, sep='\t', quotechar='"')  
        config = yaml.safe_load(open(${formatFile:r}, 'r'))
        try:
            sumstats = sumstats.loc[:,list(config.values())]
        except:
            raise ValueError(f'According to {${formatFile}}, input summary statistics should have the following columns: {${list(config.values())}}.')
        sumstats.columns = {list(config.keys())}
        sumstats.to_csv('${_output[0]}', compression='gzip', sep='\t', header = True, index = False)

ExecuteError: [0]:
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
script_8132506105473755399 in <module>
      sumstats.columns = {{list(config.keys())}}
      sumstats.to_csv('{_output[0]}', compression='gzip', sep='\t', header = True, index = False)
----> """)


NameError: name 'config' is not defined

In [73]:
parameter: formatFile = path("/home/dc2325/project/UKBB_GWAS_DEV/data/regenie_template.yml")
parameter: sumfile = path("/home/dc2325/output/phenotypes_BMI.regenie.snp_stats_original_columns.gz")
parameter: reverse_log_p = True
python: expand= '${ }'
    if ${formatFile.is_file()}:
        import yaml
        import pandas as pd
        sumstats = pd.read_csv(${sumfile:r}, compression='gzip', header=0, delim_whitespace=True)
        config = yaml.safe_load(open(${formatFile:r}, 'r'))
    try:
        sumstats = sumstats.loc[:,list(config.values())]
    except:
        raise ValueError(f'According to ${formatFile}, input summary statistics should have the following columns: {list(config.values())}.')
    sumstats.columns = list(config.keys())
    if ${reverse_log_p}:
        sumstats['P'] = sumstats['P'].apply(lambda row: 10**-row)
    print(sumstats.head())

   CHR       POS REF ALT         SNP      BETA        SE         P
0   21  48096251   G   T  rs79945276  2.149860  0.967920  0.026344
1   21  48096920   T   C  rs61504104 -0.006168  0.783410  0.993718
2   21  48097101   C   T  rs55777714 -0.221143  0.592963  0.709189
3   21  48097610   T   C  rs12626290 -0.204854  0.616383  0.739626
4   21  48098106   G   A  rs76528853  2.197950  1.436320  0.125952

In [ ]:
       try:
            sumstats = sumstats.loc[:,list(config.values())]
        except:
            raise ValueError(f'According to ${formatFile}, input summary statistics should have the following columns: {list(config.values())}.')
        sumstats.columns = list(config.keys())
    if ${reverse_log_p}:
        sumstats['P'] = sumstats['P'].apply(lambda row: 10**-row)
        print(sumstats.head())
        #sumstats.to_csv('test', compression='gzip', sep='\t', header = True, index = False)

In [1]:
cd ~/project/HI_UKBB
pwd

/home/dc2325/project/HI_UKBB

In [70]:
import pandas as pd
dat = pd.read_csv("/home/dc2325/project/HI_UKBB/200811_UKBB_Tinnitus_plan1_2_3_f4803", header=0, delim_whitespace=True, quotechar='"',dtype=str)

In [71]:
%preview dat

>>> dat:

,FID,IID,age,sex,tinnitus,tinnitus_p2,tinnitus_p3,noise_wp,loud_music,noise_imp,music_imp
0,1000046,1000046,73,1,0,0,0,0,0,0,0
1,1000063,1000063,43,0,0,0,0,0,0,0,0
2,1000078,1000078,60,1,0,0,0,0,0,0,0
3,1000105,1000105,54,1,1,NaN,NaN,0,0,0,0
4,1000112,1000112,68,0,0,0,0,0,0,0,0
5,1000141,1000141,49,1,0,0,0,0,0,0,0
6,1000236,1000236,70,0,0,0,0,0,0,0,0
7,1000248,1000248,63,0,0,0,0,3,0,3,0
8,1000269,1000269,71,0,0,0,0,0,0,0,0
9,1000340,1000340,54,1,0,0,0,0,0,0,0
10,1000357,1000357,69,1,1,NaN,NaN,0,0,0,0
11,1000379,1000379,51,1,0,0,0,0,0,0,0
12,1000421,1000421,64,1,0,0,0,0,0,0,0
13,1000443,1000443,52,1,1,NaN,NaN,0,0,0,0
14,1000494,1000494,61,0,1,NaN,NaN,3,0,3,0
15,1000516,1000516,46,0,0,0,0,0,0,0,0
16,1000527,1000527,69,1,0,0,0,NaN,0,0,0
17,1000530,1000530,67,0,0,0,0,0,0,0,0
18,1000549,1000549,63,0,0,0,0,3,0,3,0
19,1000584,1000584,43,1,0,0,0,1,0,1,0
20,1000609,1000609,69,1,0,0,0,0,0,0,0
21,1000611,1000611,56,1,0,0,0,0,0,0,0
22,1000625,1000625,60,1,1,NaN,NaN,0,0,0,0
23,1000642,1000642,50,1,0,0,0,0,0,0,0
24,1000683,1000683,68,0,0,0,0,0,0,0,0
25,1000713,1000713,58,0,1,NaN,NaN,0,0,0,0
26,1000728,1000728,61,0,1,1,1,0,0,0,0
27,1000734,1000734,51,1,0,0,0,0,0,0,0
28,1000745,1000745,60,0,1,NaN,NaN,3,0,3,0
29,1000780,1000780,62,0,0,0,0,0,2,0,2
30,1000875,1000875,59,0,1,NaN,NaN,2,0,2,0
31,1000893,1000893,65,1,0,0,0,1,0,1,0
32,1000920,1000920,58,1,0,0,0,0,0,0,0
33,1000933,1000933,58,0,0,0,0,0,0,0,0
34,1000959,1000959,71,1,0,0,0,0,0,0,0
35,1000992,1000992,56,0,1,NaN,NaN,0,1,0,1
36,1001001,1001001,58,0,0,0,0,3,3,3,3
37,1001045,1001045,61,0,1,NaN,1,0,0,0,0
38,1001052,1001052,64,1,1,NaN,1,0,0,0,0
39,1001067,1001067,50,0,1,NaN,1,0,0,0,0
40,1001080,1001080,62,1,1,NaN,1,0,0,0,0
41,1001099,1001099,62,1,0,0,0,0,0,0,0
42,1001123,1001123,62,1,1,1,1,0,0,0,0
43,1001162,1001162,67,1,1,NaN,1,0,0,0,0
44,1001179,1001179,66,1,1,NaN,NaN,0,0,0,0
45,1001207,1001207,65,1,0,0,0,0,0,0,0
46,1001219,1001219,66,1,0,0,0,0,0,0,0
47,1001254,1001254,48,1,1,NaN,1,0,0,0,0
48,1001349,1001349,61,1,0,0,0,0,0,0,0
49,1001351,1001351,54,1,0,0,0,0,0,0,0
50,1001373,1001373,67,0,1,NaN,1,0,0,0,0
51,1001384,1001384,61,1,1,NaN,1,2,3,2,3
52,1001395,1001395,64,1,1,NaN,1,0,0,0,0
53,1001543,1001543,70,0,1,NaN,NaN,0,0,0,0
54,1001566,1001566,66,0,1,NaN,1,2,0,2,0
55,1001603,1001603,51,1,0,0,0,0,2,0,2
56,1001648,1001648,66,1,0,0,0,0,0,0,0
57,1001691,1001691,77,0,0,0,0,0,0,0,0
58,1001717,1001717,60,0,0,0,0,0,0,0,0
59,1001775,1001775,61,1,0,0,0,0,0,0,0
60,1001793,1001793,66,0,0,0,0,1,0,1,0
61,1001811,1001811,63,1,1,NaN,NaN,1,0,1,0
62,1001860,1001860,63,1,0,0,0,0,0,0,0
63,1001883,1001883,63,1,0,0,0,0,0,0,0
64,1001897,1001897,66,0,0,0,0,0,0,0,0
65,1001929,1001929,51,0,1,1,1,1,1,1,1
66,1001970,1001970,63,1,0,0,0,2,0,2,0
67,1001986,1001986,70,1,0,0,0,0,0,0,0
68,1001998,1001998,60,0,0,0,0,0,0,0,0
69,1002018,1002018,59,0,0,0,0,0,0,0,0
70,1002085,1002085,45,1,0,0,0,0,0,0,0
71,1002128,1002128,57,1,0,0,0,0,0,0,0
72,1002134,1002134,57,0,1,NaN,1,3,3,3,3
73,1002249,1002249,68,1,1,NaN,1,0,0,0,0
74,1002251,1002251,58,1,0,0,0,3,0,3,0
75,1002268,1002268,67,1,1,NaN,NaN,0,0,0,0
76,1002273,1002273,40,0,0,0,0,0,0,0,0
77,1002378,1002378,68,0,0,0,0,3,0,3,0
78,1002381,1002381,67,0,1,NaN,1,1,0,1,0
79,1002409,1002409,43,0,1,NaN,1,2,0,2,0
80,1002425,1002425,68,1,0,0,0,0,0,0,0
81,1002456,1002456,60,0,0,0,0,1,0,1,0
82,1002503,1002503,59,1,0,0,0,0,0,0,0
83,1002548,1002548,62,0,1,NaN,1,0,0,0,0
84,1002555,1002555,46,1,0,0,0,0,0,0,0
85,1002650,1002650,63,1,0,0,0,0,0,0,0
86,1002666,1002666,46,1,0,0,0,0,2,0,2
87,1002694,1002694,63,1,1,NaN,NaN,3,0,3,0
88,1002737,1002737,56,1,0,0,0,1,0,1,0
89,1002741,1002741,51,1,0,0,0,1,0,1,0
90,1002859,1002859,69,0,1,1,1,0,0,0,0
91,1002892,1002892,54,0,0,0,0,0,0,0,0
92,1002917,1002917,67,1,1,NaN,1,0,0,0,0
93,1002926,1002926,76,0,1,1,1,2,0,2,0
94,1003009,1003009,55,1,0,0,0,0,0,0,0
95,1003042,1003042,74,1,0,0,0,0,0,0,0
96,1003074,1003074,65,0,0,0,0,3,0,3,0
97,1003097,1003097,65,0,0,0,0,0,0,0,0
98,1003200,1003200,58,1,1,NaN,1,0,0,0,0
99,1003226,1003226,45,1,0,0,0,0,0,0,0
100,1003258,1003258,74,0,1,1,1,3,0,3,0
101,1003320,1003320,51,1,1,NaN,NaN,0,0,0,0
102,1003392,1003392,57,1,0,0,0,0,0,0,0
103,1003418,1003418,63,0,1,NaN,NaN,3,0,3,0
104,1003431,1003431,61,1,1,1,1,0,0,0,0
105,1003479,1003479,53,1,0,0,0,0,0,0,0
106,1003485,1003485,54,1,1,1,1,3,0,3,0
107,1003537,1003537,58,1,0,0,0,0,0,0,0
108,1003553,1003553,71,0,0,0,0,1,0,1,0
109,1003564,1003564,56,1,0,0,0,0,0,0,0
110,1003634,1003634,42,1,0,0,0,0,0,0,0
111,1003652,1003652,60,1,0,0,0,0,0,0,0
112,1003676,1003676,49,1,1,NaN,NaN,0,0,0,0
113,1003699,1003699,66,1,0,0,0,0,0,0,0
114,1003703,1003703,54,1,0,0,0,0,0,0,0
115,1003748,1003748,61,0,0,0,0,0,1,0,1
116,1003755,1003755,73,1,0,0,0,1,0,1,0
117,1003772,1003772,64,0,0,0,0,2,0,2,0
118,1003863,1003863,62,0,0,0,0,0,0,0,0
119,1003878,1003878,63,1,0,0,0,0,0,0,0
120,1003949,1003949,58,0,1,1,1,0,0,0,0
121,1003968,1003968,64,1,0,0,0,1,3,1,3
122,1003973,1003973,59,1,0,0,0,0,0,0,0
123,1004012,1004012,57,1,1,NaN,NaN,3,3,3,3
124,1004029,1004029,45,1,0,0,0,0,0,0,0
125,1004053,1004053,69,0,0,0,0,0,0,0,0
126,1004070,1004070,62,1,1,NaN,1,0,0,0,0
127,1004086,1004086,56,1,0,0,0,0,0,0,0
128,1004163,1004163,66,1,0,0,0,0,0,0,0
129,1004178,1004178,63,1,1,NaN,NaN,0,0,0,0
130,1004279,1004279,40,0,0,0,0,1,0,1,0
131,1004296,1004296,53,1,1,NaN,1,0,0,0,0
132,1004324,1004324,62,1,0,0,0,0,0,0,0
133,1004336,1004336,67,0,0,0,0,0,0,0,0
134,1004426,1004426,59,1,0,0,0,0,0,0,0
135,1004444,1004444,69,0,1,1,1,3,0,3,0
136,1004458,1004458,55,0,0,0,0,3,0,3,0
137,1004461,1004461,69,0,1,NaN,1,1,0,1,0
138,1004489,1004489,63,1,0,0,0,0,0,0,0
139,1004542,1004542,61,1,0,0,0,0,0,0,0
140,1004616,1004616,51,0,0,0,0,0,0,0,0
141,1004649,1004649,58,0,0,0,0,0,0,0,0
142,1004720,1004720,59,1,0,0,0,0,0,0,0
143,1004788,1004788,42,1,0,0,0,0,0,0,0
144,1004808,1004808,75,0,0,0,0,2,0,2,0
145,1004821,1004821,68,1,0,0,0,0,0,0,0
146,1004843,1004843,64,0,0,0,0,0,0,0,0
147,1004866,1004866,64,1,0,0,0,0,0,0,0
148,1004894,1004894,63,1,0,0,0,0,0,0,0
149,1004952,1004952,65,0,1,NaN,1,0,0,0,0
150,1004967,1004967,66,0,0,0,0,3,0,3,0
151,1005014,1005014,59,1,1,1,1,0,0,0,0
152,1005020,1005020,68,1,0,0,0,0,0,0,0
153,1005033,1005033,65,1,1,NaN,NaN,0,0,0,0
154,1005047,1005047,53,0,0,0,0,0,0,0,0
155,1005088,1005088,58,1,0,0,0,0,0,0,0
156,1005103,1005103,62,1,0,0,0,0,0,0,0
157,1005110,1005110,48,1,0,0,0,0,1,0,1
158,1005187,1005187,61,1,0,0,0,0,0,0,0
159,1005205,1005205,66,1,0,0,0,0,0,0,0
160,1005212,1005212,42,0,0,0,0,0,0,0,0
161,1005229,1005229,51,1,0,0,0,0,0,0,0
162,1005237,1005237,44,1,0,0,0,0,0,0,0
163,1005253,1005253,43,1,0,0,0,3,2,3,2
164,1005309,1005309,67,1,0,0,0,2,3,2,3
165,1005311,1005311,52,1,1,1,1,0,0,0,0
166,1005342,1005342,63,0,1,1,1,0,0,0,0
167,1005360,1005360,50,0,1,1,1,0,2,0,2
168,1005383,1005383,62,0,1,1,1,3,0,3,0
169,1005397,1005397,45,0,1,NaN,1,0,NaN,0,0
170,1005480,1005480,68,1,0,0,0,0,0,0,0
171,1005500,1005500,63,1,0,0,0,0,0,0,0
172,1005526,1005526,50,1,1,1,1,0,0,0,0
173,1005593,1005593,64,0,1,NaN,1,3,0,3,0
174,1005662,1005662,66,0,1,1,1,1,0,1,0
175,1005743,1005743,63,1,1,1,1,0,0,0,0
176,1005827,1005827,63,0,0,0,0,0,3,0,3
177,1005849,1005849,50,1,0,0,0,0,0,0,0
178,1005851,1005851,41,0,0,0,0,2,0,2,0
179,1005884,1005884,75,0,0,0,0,0,0,0,0
180,1005895,1005895,68,1,1,NaN,NaN,0,0,0,0
181,1005922,1005922,50,1,0,0,0,0,0,0,0
182,1005978,1005978,57,1,0,0,0,0,0,0,0
183,1006021,1006021,41,0,1,NaN,NaN,1,1,1,1
184,1006094,1006094,55,1,0,0,0,0,0,0,0
185,1006142,1006142,62,1,1,NaN,1,NaN,0,0,0
186,1006174,1006174,41,0,0,0,0,3,2,3,2
187,1006183,1006183,66,0,1,NaN,NaN,0,0,0,0
188,1006300,1006300,59,0,0,0,0,0,0,0,0
189,1006375,1006375,48,1,0,0,0,0,0,0,0
190,1006407,1006407,65,1,1,NaN,1,0,0,0,0
191,1006419,1006419,43,1,0,0,0,0,3,0,3
192,1006422,1006422,62,0,1,1,1,0,0,0,0
193,1006446,1006446,63,0,1,1,1,3,0,3,0
194,1006490,1006490,55,0,0,0,0,0,1,0,1
195,1006513,1006513,59,1,0,0,0,0,0,0,0
196,1006528,1006528,63,0,1,NaN,1,0,0,0,0
197,1006552,1006552,56,0,0,0,0,0,0,0,0
198,1006567,1006567,51,1,1,NaN,1,0,0,0,0
199,1006580,1006580,53,0,1,NaN,NaN,0,0,0,0

In [72]:
dat.dtypes

FID            object
IID            object
age            object
sex            object
tinnitus       object
tinnitus_p2    object
tinnitus_p3    object
noise_wp       object
loud_music     object
noise_imp      object
music_imp      object
dtype: object

In [82]:
df2 = dat.replace(to_replace =np.nan, value ="NA")
df2

            FID      IID age sex  ... noise_wp loud_music noise_imp music_imp
0       1000046  1000046  73   1  ...        0          0         0         0
1       1000063  1000063  43   0  ...        0          0         0         0
2       1000078  1000078  60   1  ...        0          0         0         0
3       1000105  1000105  54   1  ...        0          0         0         0
4       1000112  1000112  68   0  ...        0          0         0         0
...         ...      ...  ..  ..  ...      ...        ...       ...       ...
142516  6025284  6025284  56   1  ...        0          0         0         0
142517  6025307  6025307  55   1  ...        0          1         0         1
142518  6025319  6025319  56   1  ...        0          0         0         0
142519  6025354  6025354  52   1  ...        0          0         0         0
142520  6025411  6025411  49   1  ...        0          0         0         0

[142521 rows x 11 columns]

In [16]:
dat.columns = dat.astype("int64").dtypes

ExecuteError: [0]:
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
script_3400104484975497527 in <module>
----> dat.columns = dat.astype("int64").dtypes


ValueError: Cannot convert non-finite values (NA or inf) to integer

In [51]:
cols = [ 'tinnitus_p2','tinnitus_p3']
for col in cols:
   dat[col] = dat[col].fillna(10000)
   dat[col] = dat[col].apply(lambda x: int(x) if x != "" else "")
dat=dat.replace(10000,np.nan)
dat

            FID      IID  age  sex  ...  noise_wp  loud_music  noise_imp  music_imp
0       1000046  1000046   73    1  ...       0.0         0.0          0          0
1       1000063  1000063   43    0  ...       0.0         0.0          0          0
2       1000078  1000078   60    1  ...       0.0         0.0          0          0
3       1000105  1000105   54    1  ...       0.0         0.0          0          0
4       1000112  1000112   68    0  ...       0.0         0.0          0          0
...         ...      ...  ...  ...  ...       ...         ...        ...        ...
142516  6025284  6025284   56    1  ...       0.0         0.0          0          0
142517  6025307  6025307   55    1  ...       0.0         1.0          0          1
142518  6025319  6025319   56    1  ...       0.0         0.0          0          0
142519  6025354  6025354   52    1  ...       0.0         0.0          0          0
142520  6025411  6025411   49    1  ...       0.0         0.0          0          0

[142521 rows x 11 columns]

In [45]:
import numpy as np
dat['tinnitus_p2'] = dat['tinnitus_p2'].fillna(-1)
dat['tinnitus_p2'] = dat['tinnitus_p2'].astype(int)
dat['tinnitus_p2'] = dat['tinnitus_p2'].astype(str)
dat['tinnitus_p2'] = dat['tinnitus_p2'].replace('-1', np.nan)

In [ ]:
dat = pd.read_csv(filename, dtype={'id':str})

In [15]:
dat['tinnitus_p2'] = dat['tinnitus_p2'].apply()

In [18]:
dat['tinnitus_p3'] = dat['tinnitus_p3'].astype('Int64')

In [1]:
import pandas as pd
import numpy as np
phenoCol = ["tinnitus", "tinnitus_p2", "tinnitus_p3"]
dat = pd.read_csv("/home/dc2325/project/HI_UKBB/200811_UKBB_Tinnitus_plan1_2_3_f4803", header=0, delim_whitespace=True, dtype=str)
dat = dat.replace(to_replace =np.nan, value ="NA")
#if len(phenoCol) > 0:
    #dat.to_csv(f"{cwd}/{phenoFile:bn}.regenie_phenotype", sep=' ', index=False, columns = ['FID', 'IID'] + phenoCol)

In [2]:
%preview dat

>>> dat:

,FID,IID,age,sex,tinnitus,tinnitus_p2,tinnitus_p3,noise_wp,loud_music,noise_imp,music_imp
0,1000046,1000046,73,1,0,0,0,0,0,0,0
1,1000063,1000063,43,0,0,0,0,0,0,0,0
2,1000078,1000078,60,1,0,0,0,0,0,0,0
3,1000105,1000105,54,1,1,NA,NA,0,0,0,0
4,1000112,1000112,68,0,0,0,0,0,0,0,0
5,1000141,1000141,49,1,0,0,0,0,0,0,0
6,1000236,1000236,70,0,0,0,0,0,0,0,0
7,1000248,1000248,63,0,0,0,0,3,0,3,0
8,1000269,1000269,71,0,0,0,0,0,0,0,0
9,1000340,1000340,54,1,0,0,0,0,0,0,0
10,1000357,1000357,69,1,1,NA,NA,0,0,0,0
11,1000379,1000379,51,1,0,0,0,0,0,0,0
12,1000421,1000421,64,1,0,0,0,0,0,0,0
13,1000443,1000443,52,1,1,NA,NA,0,0,0,0
14,1000494,1000494,61,0,1,NA,NA,3,0,3,0
15,1000516,1000516,46,0,0,0,0,0,0,0,0
16,1000527,1000527,69,1,0,0,0,NA,0,0,0
17,1000530,1000530,67,0,0,0,0,0,0,0,0
18,1000549,1000549,63,0,0,0,0,3,0,3,0
19,1000584,1000584,43,1,0,0,0,1,0,1,0
20,1000609,1000609,69,1,0,0,0,0,0,0,0
21,1000611,1000611,56,1,0,0,0,0,0,0,0
22,1000625,1000625,60,1,1,NA,NA,0,0,0,0
23,1000642,1000642,50,1,0,0,0,0,0,0,0
24,1000683,1000683,68,0,0,0,0,0,0,0,0
25,1000713,1000713,58,0,1,NA,NA,0,0,0,0
26,1000728,1000728,61,0,1,1,1,0,0,0,0
27,1000734,1000734,51,1,0,0,0,0,0,0,0
28,1000745,1000745,60,0,1,NA,NA,3,0,3,0
29,1000780,1000780,62,0,0,0,0,0,2,0,2
30,1000875,1000875,59,0,1,NA,NA,2,0,2,0
31,1000893,1000893,65,1,0,0,0,1,0,1,0
32,1000920,1000920,58,1,0,0,0,0,0,0,0
33,1000933,1000933,58,0,0,0,0,0,0,0,0
34,1000959,1000959,71,1,0,0,0,0,0,0,0
35,1000992,1000992,56,0,1,NA,NA,0,1,0,1
36,1001001,1001001,58,0,0,0,0,3,3,3,3
37,1001045,1001045,61,0,1,NA,1,0,0,0,0
38,1001052,1001052,64,1,1,NA,1,0,0,0,0
39,1001067,1001067,50,0,1,NA,1,0,0,0,0
40,1001080,1001080,62,1,1,NA,1,0,0,0,0
41,1001099,1001099,62,1,0,0,0,0,0,0,0
42,1001123,1001123,62,1,1,1,1,0,0,0,0
43,1001162,1001162,67,1,1,NA,1,0,0,0,0
44,1001179,1001179,66,1,1,NA,NA,0,0,0,0
45,1001207,1001207,65,1,0,0,0,0,0,0,0
46,1001219,1001219,66,1,0,0,0,0,0,0,0
47,1001254,1001254,48,1,1,NA,1,0,0,0,0
48,1001349,1001349,61,1,0,0,0,0,0,0,0
49,1001351,1001351,54,1,0,0,0,0,0,0,0
50,1001373,1001373,67,0,1,NA,1,0,0,0,0
51,1001384,1001384,61,1,1,NA,1,2,3,2,3
52,1001395,1001395,64,1,1,NA,1,0,0,0,0
53,1001543,1001543,70,0,1,NA,NA,0,0,0,0
54,1001566,1001566,66,0,1,NA,1,2,0,2,0
55,1001603,1001603,51,1,0,0,0,0,2,0,2
56,1001648,1001648,66,1,0,0,0,0,0,0,0
57,1001691,1001691,77,0,0,0,0,0,0,0,0
58,1001717,1001717,60,0,0,0,0,0,0,0,0
59,1001775,1001775,61,1,0,0,0,0,0,0,0
60,1001793,1001793,66,0,0,0,0,1,0,1,0
61,1001811,1001811,63,1,1,NA,NA,1,0,1,0
62,1001860,1001860,63,1,0,0,0,0,0,0,0
63,1001883,1001883,63,1,0,0,0,0,0,0,0
64,1001897,1001897,66,0,0,0,0,0,0,0,0
65,1001929,1001929,51,0,1,1,1,1,1,1,1
66,1001970,1001970,63,1,0,0,0,2,0,2,0
67,1001986,1001986,70,1,0,0,0,0,0,0,0
68,1001998,1001998,60,0,0,0,0,0,0,0,0
69,1002018,1002018,59,0,0,0,0,0,0,0,0
70,1002085,1002085,45,1,0,0,0,0,0,0,0
71,1002128,1002128,57,1,0,0,0,0,0,0,0
72,1002134,1002134,57,0,1,NA,1,3,3,3,3
73,1002249,1002249,68,1,1,NA,1,0,0,0,0
74,1002251,1002251,58,1,0,0,0,3,0,3,0
75,1002268,1002268,67,1,1,NA,NA,0,0,0,0
76,1002273,1002273,40,0,0,0,0,0,0,0,0
77,1002378,1002378,68,0,0,0,0,3,0,3,0
78,1002381,1002381,67,0,1,NA,1,1,0,1,0
79,1002409,1002409,43,0,1,NA,1,2,0,2,0
80,1002425,1002425,68,1,0,0,0,0,0,0,0
81,1002456,1002456,60,0,0,0,0,1,0,1,0
82,1002503,1002503,59,1,0,0,0,0,0,0,0
83,1002548,1002548,62,0,1,NA,1,0,0,0,0
84,1002555,1002555,46,1,0,0,0,0,0,0,0
85,1002650,1002650,63,1,0,0,0,0,0,0,0
86,1002666,1002666,46,1,0,0,0,0,2,0,2
87,1002694,1002694,63,1,1,NA,NA,3,0,3,0
88,1002737,1002737,56,1,0,0,0,1,0,1,0
89,1002741,1002741,51,1,0,0,0,1,0,1,0
90,1002859,1002859,69,0,1,1,1,0,0,0,0
91,1002892,1002892,54,0,0,0,0,0,0,0,0
92,1002917,1002917,67,1,1,NA,1,0,0,0,0
93,1002926,1002926,76,0,1,1,1,2,0,2,0
94,1003009,1003009,55,1,0,0,0,0,0,0,0
95,1003042,1003042,74,1,0,0,0,0,0,0,0
96,1003074,1003074,65,0,0,0,0,3,0,3,0
97,1003097,1003097,65,0,0,0,0,0,0,0,0
98,1003200,1003200,58,1,1,NA,1,0,0,0,0
99,1003226,1003226,45,1,0,0,0,0,0,0,0
100,1003258,1003258,74,0,1,1,1,3,0,3,0
101,1003320,1003320,51,1,1,NA,NA,0,0,0,0
102,1003392,1003392,57,1,0,0,0,0,0,0,0
103,1003418,1003418,63,0,1,NA,NA,3,0,3,0
104,1003431,1003431,61,1,1,1,1,0,0,0,0
105,1003479,1003479,53,1,0,0,0,0,0,0,0
106,1003485,1003485,54,1,1,1,1,3,0,3,0
107,1003537,1003537,58,1,0,0,0,0,0,0,0
108,1003553,1003553,71,0,0,0,0,1,0,1,0
109,1003564,1003564,56,1,0,0,0,0,0,0,0
110,1003634,1003634,42,1,0,0,0,0,0,0,0
111,1003652,1003652,60,1,0,0,0,0,0,0,0
112,1003676,1003676,49,1,1,NA,NA,0,0,0,0
113,1003699,1003699,66,1,0,0,0,0,0,0,0
114,1003703,1003703,54,1,0,0,0,0,0,0,0
115,1003748,1003748,61,0,0,0,0,0,1,0,1
116,1003755,1003755,73,1,0,0,0,1,0,1,0
117,1003772,1003772,64,0,0,0,0,2,0,2,0
118,1003863,1003863,62,0,0,0,0,0,0,0,0
119,1003878,1003878,63,1,0,0,0,0,0,0,0
120,1003949,1003949,58,0,1,1,1,0,0,0,0
121,1003968,1003968,64,1,0,0,0,1,3,1,3
122,1003973,1003973,59,1,0,0,0,0,0,0,0
123,1004012,1004012,57,1,1,NA,NA,3,3,3,3
124,1004029,1004029,45,1,0,0,0,0,0,0,0
125,1004053,1004053,69,0,0,0,0,0,0,0,0
126,1004070,1004070,62,1,1,NA,1,0,0,0,0
127,1004086,1004086,56,1,0,0,0,0,0,0,0
128,1004163,1004163,66,1,0,0,0,0,0,0,0
129,1004178,1004178,63,1,1,NA,NA,0,0,0,0
130,1004279,1004279,40,0,0,0,0,1,0,1,0
131,1004296,1004296,53,1,1,NA,1,0,0,0,0
132,1004324,1004324,62,1,0,0,0,0,0,0,0
133,1004336,1004336,67,0,0,0,0,0,0,0,0
134,1004426,1004426,59,1,0,0,0,0,0,0,0
135,1004444,1004444,69,0,1,1,1,3,0,3,0
136,1004458,1004458,55,0,0,0,0,3,0,3,0
137,1004461,1004461,69,0,1,NA,1,1,0,1,0
138,1004489,1004489,63,1,0,0,0,0,0,0,0
139,1004542,1004542,61,1,0,0,0,0,0,0,0
140,1004616,1004616,51,0,0,0,0,0,0,0,0
141,1004649,1004649,58,0,0,0,0,0,0,0,0
142,1004720,1004720,59,1,0,0,0,0,0,0,0
143,1004788,1004788,42,1,0,0,0,0,0,0,0
144,1004808,1004808,75,0,0,0,0,2,0,2,0
145,1004821,1004821,68,1,0,0,0,0,0,0,0
146,1004843,1004843,64,0,0,0,0,0,0,0,0
147,1004866,1004866,64,1,0,0,0,0,0,0,0
148,1004894,1004894,63,1,0,0,0,0,0,0,0
149,1004952,1004952,65,0,1,NA,1,0,0,0,0
150,1004967,1004967,66,0,0,0,0,3,0,3,0
151,1005014,1005014,59,1,1,1,1,0,0,0,0
152,1005020,1005020,68,1,0,0,0,0,0,0,0
153,1005033,1005033,65,1,1,NA,NA,0,0,0,0
154,1005047,1005047,53,0,0,0,0,0,0,0,0
155,1005088,1005088,58,1,0,0,0,0,0,0,0
156,1005103,1005103,62,1,0,0,0,0,0,0,0
157,1005110,1005110,48,1,0,0,0,0,1,0,1
158,1005187,1005187,61,1,0,0,0,0,0,0,0
159,1005205,1005205,66,1,0,0,0,0,0,0,0
160,1005212,1005212,42,0,0,0,0,0,0,0,0
161,1005229,1005229,51,1,0,0,0,0,0,0,0
162,1005237,1005237,44,1,0,0,0,0,0,0,0
163,1005253,1005253,43,1,0,0,0,3,2,3,2
164,1005309,1005309,67,1,0,0,0,2,3,2,3
165,1005311,1005311,52,1,1,1,1,0,0,0,0
166,1005342,1005342,63,0,1,1,1,0,0,0,0
167,1005360,1005360,50,0,1,1,1,0,2,0,2
168,1005383,1005383,62,0,1,1,1,3,0,3,0
169,1005397,1005397,45,0,1,NA,1,0,NA,0,0
170,1005480,1005480,68,1,0,0,0,0,0,0,0
171,1005500,1005500,63,1,0,0,0,0,0,0,0
172,1005526,1005526,50,1,1,1,1,0,0,0,0
173,1005593,1005593,64,0,1,NA,1,3,0,3,0
174,1005662,1005662,66,0,1,1,1,1,0,1,0
175,1005743,1005743,63,1,1,1,1,0,0,0,0
176,1005827,1005827,63,0,0,0,0,0,3,0,3
177,1005849,1005849,50,1,0,0,0,0,0,0,0
178,1005851,1005851,41,0,0,0,0,2,0,2,0
179,1005884,1005884,75,0,0,0,0,0,0,0,0
180,1005895,1005895,68,1,1,NA,NA,0,0,0,0
181,1005922,1005922,50,1,0,0,0,0,0,0,0
182,1005978,1005978,57,1,0,0,0,0,0,0,0
183,1006021,1006021,41,0,1,NA,NA,1,1,1,1
184,1006094,1006094,55,1,0,0,0,0,0,0,0
185,1006142,1006142,62,1,1,NA,1,NA,0,0,0
186,1006174,1006174,41,0,0,0,0,3,2,3,2
187,1006183,1006183,66,0,1,NA,NA,0,0,0,0
188,1006300,1006300,59,0,0,0,0,0,0,0,0
189,1006375,1006375,48,1,0,0,0,0,0,0,0
190,1006407,1006407,65,1,1,NA,1,0,0,0,0
191,1006419,1006419,43,1,0,0,0,0,3,0,3
192,1006422,1006422,62,0,1,1,1,0,0,0,0
193,1006446,1006446,63,0,1,1,1,3,0,3,0
194,1006490,1006490,55,0,0,0,0,0,1,0,1
195,1006513,1006513,59,1,0,0,0,0,0,0,0
196,1006528,1006528,63,0,1,NA,1,0,0,0,0
197,1006552,1006552,56,0,0,0,0,0,0,0,0
198,1006567,1006567,51,1,1,NA,1,0,0,0,0
199,1006580,1006580,53,0,1,NA,NA,0,0,0,0

In [10]:
import pandas as pd
import numpy as np
phenoCol = ["BMI"]
dat = pd.read_csv("/SAY/dbgapstg/scratch/UKBiobank/MWE/phenotypes.txt", header=0, delim_whitespace=True, dtype=str)
dat = dat.replace(to_replace =np.nan, value ="NA")
if len(phenoCol) > 0:    
    dat.to_csv(f"~/output/phenotypes.regenie_phenotype", sep=' ', index=False, columns = ['FID', 'IID'] + phenoCol)

In [ ]:
[plink: provides = f'{cwd}/cache/{bfile:bn}.regenie.keep']
parameter: plink2_module = '''
module load PLINK/2_x86_64_20180428
echo "Module plink2 loaded"
{cmd}
'''
input: bfile
output: f'{cwd}/cache/{bfile:bn}.qc_pass.id', f'{cwd}/cache/{bfile:bn}.qc_pass.snplist', f'{cwd}/cache/{bfile:bn}.regenie.keep' 
task: trunk_workers = 1, walltime = '10h', mem = '30G', cores = numThreads, tags = f'{step_name}_{_output[0]:bn}'
bash: expand= "${ }", stderr = f'{_output[0]:n}.stderr', stdout = f'{_output[0]:n}.stdout', template = '{cmd}' if executable('plink2').target_exists() else plink2_module    
    plink2 \
      --bfile ${bfile:n} \
      --maf 0.001 \
      --geno 0.01 \
      --hwe 5e-08 \
      --mind 0.01 \
      --write-snplist --write-samples --no-id-header \
      --threads ${numThreads} \
      --out ${_output[0]:n} 
      
bash: expand = "${ }"
    # create qc_pass space delimited and create keep file
    expand -t 1 ${_output[0]} > ${_output[0]:n}_space.id \
    && grep -wFf  ${_output[0]:n}_space.id  ${sampleFile} > ${_output[2]}

In [5]:
library('dplyr')
library('ggrepel')
setwd("~")
getwd()

[1] "/gpfs/ysm/home/dc2325"

In [6]:
#Load your data
data <- read.table(gzfile('output/phenotypes_T2D.regenie.snp_stats.gz'), header=T)

In [17]:
# Create a subset of the data with variants with P< 0.05 and arrange by chromosome number
# https://danielroelfs.com/blog/how-i-create-manhattan-plots-using-ggplot/
sig.dat <- data %>%
  subset(P < 0.08)

In [18]:
head(sig.dat)

   CHR POS      REF ALT SNP       BETA     SE       P
10 21  48101335 T   G   rs2839380 -1.22186 0.683736 0.07393328

In [9]:
%cd /SAY/dbgapstg/scratch/UKBiobank/results/FastGWA_results/results_imputed_data/f2247_f2257_combined/cache

/SAY/standard/dbgapstg/scratch/UKBiobank/results/FastGWA_results/results_imputed_data/f2247_f2257_combined/cache

In [14]:
heritability =  open('ukb_imp_chr1_v3.200828_UKBB_f2247_f2257.log', 'r')
for line in heritability:
    if line.startswith('Heritability'):
        print (line)

Heritability = 0.245487 (Pval = 2.14676e-47)

In [36]:
%cd ~
%run 
[fastGWA_1]
output: 'test1.log'
_output.touch('Heritability=1')
[default_1]
if any(['fastGWA_1' in x for x in {step_name}]):
    heritability = get_output(f'grep Heritability {_input:n}.log | head -1').strip()
    print(heritability)
else:
    heritability = None
    print("nothing")
[default_2]
output: 'report.md'    
R: expand ="${ }"
    write('${(" Heritability is %s" % heritability) if heritability is not None else ''}', ${_output:r}, append = T)

/gpfs/ysm/home/dc2325

nothing

ERROR: [default_2]: [0]:
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
script_8622896511726801268 in <module>
      R(fr"""write('{(" Heritability is %s" % heritability) if heritability is not None else ''}', {_output:r}, append = T)
----> """)


NameError: name 'heritability' is not defined

RuntimeError: Workflow exited with code 1

In [27]:
else:
    heritability = None
    print("nothing")
output: 'report.md'    
R: expand ="${ }"
    write('${(" Heritability is %s" % heritability) if heritability is not None else ''}', ${_output:r}, append = T)

/gpfs/ysm/home/dc2325

nothing

In [ ]:
    with open(_output, 'r') as f:
                        for line in f:
                            if line.startswith('Heritability'[0]):
                                print (line)

In [15]:
%cd ~
%run
[step_1]
input: 'test1.log'
heritability =  get_output(f'grep Heritability {_input} | head -1').strip()
print(heritability)
[step_2]
output: 'result.md'
R: expand="${ }"
   write(paste(${heritability}), ${_output:r}, append = T)

/gpfs/ysm/home/dc2325

Heritability=1

ERROR: [step_2]: [0]:
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
script_4631947101735487448 in <module>
      R(fr"""write(paste({heritability}), {_output:r}, append = T)
----> """)


NameError: name 'heritability' is not defined

RuntimeError: Workflow exited with code 1

/gpfs/ysm/home/dc2325

ERROR: [step_2]: [0]:
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
script_4021540981432619996 in <module>
      R(fr"""write(paste('{heritability}'), {_output:r}, append = T)
----> """)


NameError: name 'heritability' is not defined

RuntimeError: Workflow exited with code 1

In [32]:
import pandas as pd
covarCol = ["sex", "loud_music"]
qCovarCol = ['age']
dat = pd.read_csv('/home/dc2325/project/HI_UKBB/200904_UKBB_SRT_cat_cc', header=0, delim_whitespace=True)
if len(covarCol) > 0:
    dat.to_csv(f"test.fastGWA_covar", sep=' ', index=False, columns = ['FID', 'IID'] + covarCol)
if len(qCovarCol) > 0:
    dat.to_csv(f"test.fastGWA_qcovar", sep=' ', index=False, columns = ['FID', 'IID'] + qCovarCol)
dat.head()

       FID      IID  age  sex  srt_cat  volume_mean  noise_wp  loud_music
0  1000112  1000112   68    0        1         0.55         0           0
1  1000421  1000421   64    1        0         0.15         0           0
2  1000683  1000683   68    0        0         0.10         0           0
3  1000728  1000728   61    0        0         0.10         0           0
4  1001067  1001067   50    0        1         0.40         0           0

In [15]:
library('qqman')
ylim=0
data <- read.table(gzfile('/SAY/dbgapstg/scratch/UKBiobank/results/FastGWA_results/results_imputed_data/triglycerides/UKB_Caucasiansubset_cholesterolfields_adjbymedstatus_062420_foranalysis_triglycerides.fastGWA.snp_stats.gz'), header=T)
ifelse((ylim == 0 && min(data$P)!=0), ylim <- abs(floor(log10(min(data$P)))), ylim <- log10(2.225074e-308))
print(ylim)

[1] -307.6527

[1] -307.6527

In [16]:
ifelse((ylim == 0 && min(data$P)!=0), ylim <- abs(floor(log10(min(data$P)))), ylim <- abs(floor(log10(2.225074e-308))))
ylim

[1] 308

[1] 308

In [3]:
[global]
#The directory for output files
parameter: cwd = f'/home/dc2325/output/'
#The region file
parameter: regions_file = f'/gpfs/gibbs/pi/dewan/data/UKBiobank/results/region_extraction/f3393_hearing_aid/regions.txt'
regions = [x.strip() for x in open(regions_file).readlines()]
[extract_regions]
input: for_each = 'regions', group_by=1
output: f'{cwd}/{_regions}.out'
bash: expand = '${ }'
    echo ${_regions} > ${_output}

In [31]:
import pandas as pd
import numpy as np
region_file=path("/gpfs/gibbs/pi/dewan/data/UKBiobank/results/LD_clumping/f3393_hearing_aid/200828_UKBB_Hearing_aid_f3393_hearing_aid_cat.fastGWA.snp_stats.clumped_region")

In [36]:
region_file

path('/gpfs/gibbs/pi/dewan/data/UKBiobank/results/LD_clumping/f3393_hearing_aid/200828_UKBB_Hearing_aid_f3393_hearing_aid_cat.fastGWA.snp_stats.clumped_region')

In [38]:
regions = ([x.strip() for x in open(region_file).readlines()])

In [39]:
regions1 = [x.replace(' ', '_' ) for x in regions]

In [40]:
regions1

['2_54686740_55024762',
 '2_54686740_55051155',
 '3_121350573_121729262',
 '5_329316_889130',
 '5_72826654_73069581',
 '5_73034307_73177355',
 '5_73090089_73202480',
 '6_31879158_32778656',
 '6_133788976_133869809',
 '10_126783170_126813028',
 '11_63843945_64018872',
 '14_52457777_52518683',
 '15_89193497_89274382',
 '18_52520416_52713632',
 '22_38046695_38503972',
 '22_50950570_50956117']

In [1]:
import pandas as pd
import numpy as np
dat = pd.read_csv('/gpfs/gibbs/pi/dewan/data/UKBiobank/phenotype_files/pleiotropy_R01/phenotypesforanalysis/UKB_CAUC_lipidsforanalysis_apolipoproteinAandB,Hba1c_continuousandcategorical,egfrbyCKDEPI,serumcreatinine,UACR_inverseranknorm_110320', header=0, delim_whitespace=True, dtype=str)

In [7]:
phenoCol=['ApoA_int', 'ApoB_int', 'Creatinine_int', 'Hba1c_int', 'eGFR_int', 'UACR_int']
dat = dat.replace(to_replace =np.nan, value ="NA")
if len(phenoCol) > 0:    
    dat.to_csv("test.regenie_phenotype", sep=' ', index=False, columns = ['FID', 'IID'] + phenoCol)

In [122]:
dat = pd.read_csv('/gpfs/gibbs/pi/dewan/data/UKBiobank/phenotype_files/pleiotropy_R01/phenotypesforanalysis/UKB_CAUC_lipidsforanalysis_apolipoproteinAandB,Hba1c_continuousandcategorical,egfrbyCKDEPI,serumcreatinine,UACR_inverseranknorm_110320', header=0, delim_whitespace=True)
covarCol=["SEX","alcohol1" ,"alcohol2" ,"alcohol3", "alcohol4"] 
qCovarCol=["AGE", "Packyrs_smoking"]
if len(covarCol) > 0 or len(qCovarCol) > 0:
    dat = dat.dropna(subset=covarCol)
    dat = dat.dropna(subset=qCovarCol)
    dat.replace(to_replace =np.nan, value ="NA")
    dat1 = pd.DataFrame(dat, columns = ['FID','IID'] + covarCol)
    dat1 = dat1.astype(int)
    dat2 = pd.DataFrame(dat, columns = ['IID'] + qCovarCol)
    merged_left = pd.merge(left=dat1, right=dat2, how='left', left_on='IID', right_on='IID')
    dat.to_csv(f"{cwd}/{phenoFile:bn}.regenie_covar", sep=' ', index=False, columns = ['FID', 'IID'] + covarCol + qCovarCol)

       FID      IID  AGE  SEX  ...  alcohol1  alcohol2  alcohol3  alcohol4
0  1000019  1000019   47    0  ...       0.0       0.0       1.0       0.0
1  1000035  1000035   63    1  ...       0.0       0.0       0.0       0.0
2  1000112  1000112   58    1  ...       0.0       0.0       0.0       0.0
3  1000129  1000129   62    1  ...       1.0       0.0       0.0       0.0
4  1000141  1000141   49    0  ...       0.0       0.0       0.0       1.0

[5 rows x 16 columns]

In [112]:
dat1 = pd.DataFrame(dat, columns = ['IID'] + covarCol)
dat1 = dat1.astype(int)
dat1.head()

ExecuteError: [0]:
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
script_5104255764689080490 in <module>
      dat1 = pd.DataFrame(dat, columns = ['IID'] + covarCol)
----> dat1 = dat1.astype(int)
      dat1.head()


ValueError: Cannot convert non-finite values (NA or inf) to integer

In [109]:
dat2 = pd.DataFrame(dat, columns = ['FID', 'IID'] + qCovarCol)
dat2.head()

       FID      IID  AGE  Packyrs_smoking
0  1000019  1000019   47              0.0
1  1000035  1000035   63              0.0
2  1000112  1000112   58              0.0
3  1000129  1000129   62             39.5
4  1000141  1000141   49              0.0

In [123]:
merged_left = pd.merge(left=dat1, right=dat2, how='left', left_on='IID', right_on='IID')
merged_left.head()

       FID      IID  SEX  alcohol1  ...  alcohol3  alcohol4  AGE  Packyrs_smoking
0  1000019  1000019    0         0  ...         1         0   47              0.0
1  1000035  1000035    1         0  ...         0         0   63              0.0
2  1000112  1000112    1         0  ...         0         0   58              0.0
3  1000129  1000129    1         1  ...         0         0   62             39.5
4  1000141  1000141    0         0  ...         0         1   49              0.0

[5 rows x 9 columns]

In [108]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105121 entries, 0 to 105120
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   FID                105121 non-null  int64
 1   IID                105121 non-null  int64
 2   AGE                105121 non-null  int64
 3   SEX                105121 non-null  int64
 4   ApoA_int           95915 non-null   float64
 5   ApoB_int           104445 non-null  float64
 6   Creatinine_int     105121 non-null  float64
 7   Hba1c_int          100434 non-null  float64
 8   hba1c_categorical  100434 non-null  float64
 9   eGFR_int           105121 non-null  float64
 10  UACR_int           105121 non-null  float64
 11  Packyrs_smoking    105121 non-null  float64
 12  alcohol1           105046 non-null  float64
 13  alcohol2           105046 non-null  float64
 14  alcohol3           105046 non-null  float64
 15  alcohol4           105046 non-null  float64
dtypes: float64(12), int64(4)
memory usage: 12.8 MB

In [84]:
mask = dat['alcohol1'].isnull() | dat['alcohol2'].isnull() | dat['alcohol3'].isnull() | dat['alcohol4'].isnull()
print (dat[mask])

            FID      IID  AGE  SEX  ...  alcohol1  alcohol2  alcohol3  alcohol4
189     1009416  1009416   68    0  ...       NaN       NaN       NaN       NaN
2931    1137316  1137316   45    0  ...       NaN       NaN       NaN       NaN
4184    1198387  1198387   69    1  ...       NaN       NaN       NaN       NaN
4461    1211987  1211987   66    0  ...       NaN       NaN       NaN       NaN
5695    1270549  1270549   61    0  ...       NaN       NaN       NaN       NaN
...         ...      ...  ...  ...  ...       ...       ...       ...       ...
97314   5649303  5649303   67    1  ...       NaN       NaN       NaN       NaN
97730   5668603  5668603   62    1  ...       NaN       NaN       NaN       NaN
98474   5704312  5704312   61    0  ...       NaN       NaN       NaN       NaN
101744  5861624  5861624   61    0  ...       NaN       NaN       NaN       NaN
103900  5964165  5964165   40    0  ...       NaN       NaN       NaN       NaN

[75 rows x 16 columns]

In [104]:
mask2 = dat['SEX'].isnull()
print (dat[mask2])

Empty DataFrame
Columns: [FID, IID, AGE, SEX, ApoA_int, ApoB_int, Creatinine_int, Hba1c_int, hba1c_categorical, eGFR_int, UACR_int, Packyrs_smoking, alcohol1, alcohol2, alcohol3, alcohol4]
Index: []

In [80]:
is_NaN = dat.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = dat[row_has_NaN]
print(rows_with_NaN)

            FID      IID  AGE  SEX  ...  alcohol1  alcohol2  alcohol3  alcohol4
10      1000611  1000611   56    0  ...       0.0       0.0       0.0       0.0
34      1001761  1001761   45    1  ...       0.0       0.0       0.0       1.0
44      1002251  1002251   58    0  ...       1.0       0.0       0.0       0.0
45      1002284  1002284   57    1  ...       0.0       0.0       1.0       0.0
46      1002409  1002409   43    1  ...       0.0       1.0       0.0       0.0
...         ...      ...  ...  ...  ...       ...       ...       ...       ...
105085  6023584  6023584   43    0  ...       0.0       0.0       0.0       0.0
105101  6024367  6024367   63    0  ...       0.0       0.0       0.0       0.0
105104  6024546  6024546   61    1  ...       0.0       0.0       1.0       0.0
105115  6025199  6025199   62    1  ...       0.0       0.0       1.0       0.0
105120  6025409  6025409   61    0  ...       1.0       0.0       0.0       0.0

[14143 rows x 16 columns]

In [102]:
test = dat.dropna(subset=covarCol)
test.head(100)
test.shape[0]

105046

In [101]:
dat.shape[0]

105121

In [93]:
mask = test['alcohol1'].isnull() | test['alcohol2'].isnull() | test['alcohol3'].isnull() | test['alcohol4'].isnull()
print (test[mask])

Empty DataFrame
Columns: [FID, IID, AGE, SEX, ApoA_int, ApoB_int, Creatinine_int, Hba1c_int, hba1c_categorical, eGFR_int, UACR_int, Packyrs_smoking, alcohol1, alcohol2, alcohol3, alcohol4]
Index: []

In [81]:
dat[dat.isnull().any(axis=1)]

            FID      IID  AGE  SEX  ...  alcohol1  alcohol2  alcohol3  alcohol4
10      1000611  1000611   56    0  ...       0.0       0.0       0.0       0.0
34      1001761  1001761   45    1  ...       0.0       0.0       0.0       1.0
44      1002251  1002251   58    0  ...       1.0       0.0       0.0       0.0
45      1002284  1002284   57    1  ...       0.0       0.0       1.0       0.0
46      1002409  1002409   43    1  ...       0.0       1.0       0.0       0.0
...         ...      ...  ...  ...  ...       ...       ...       ...       ...
105085  6023584  6023584   43    0  ...       0.0       0.0       0.0       0.0
105101  6024367  6024367   63    0  ...       0.0       0.0       0.0       0.0
105104  6024546  6024546   61    1  ...       0.0       0.0       1.0       0.0
105115  6025199  6025199   62    1  ...       0.0       0.0       1.0       0.0
105120  6025409  6025409   61    0  ...       1.0       0.0       0.0       0.0

[14143 rows x 16 columns]

In [71]:
bd = read.table('/gpfs/gibbs/pi/dewan/data/UKBiobank/phenotype_files/pleiotropy_R01/phenotypesforanalysis/UKB_CAUC_lipidsforanalysis_apolipoproteinAandB,Hba1c_continuousandcategorical,egfrbyCKDEPI,serumcreatinine,UACR_inverseranknorm_110320', header=T)

In [72]:
head(bd)

  FID     IID     AGE SEX ApoA_int    ApoB_int    Creatinine_int Hba1c_int
1 1000019 1000019 47  0   -0.65999524 -0.12005983  0.1760632     -1.46860841
2 1000035 1000035 63  1   -2.36409966  0.56595199  0.7447972      0.17160026
3 1000112 1000112 58  1   -1.48293162  0.16563162  1.4086581     -0.23965064
4 1000129 1000129 62  1   -0.56072224 -1.65589467  1.1108696     -0.43359400
5 1000141 1000141 49  0    0.06206429 -0.05733873 -0.6405427      0.38843116
6 1000170 1000170 51  0    0.11105926  0.62576062 -2.0215868      0.06764851
  hba1c_categorical eGFR_int   UACR_int   Packyrs_smoking alcohol1 alcohol2
1 1                  0.0893905 -1.0696021  0.0            0        0
2 1                 -0.8954973  0.8709094  0.0            0        0
3 1                 -1.3720987  1.5428153  0.0            0        0
4 1                 -1.2078402 -1.1518977 39.5            1        0
5 1                  1.2173478 -0.7219475  0.0            0        0
6 1                  1.9109622  0.2501756 32.5            0        1
  alcohol3 alcohol4
1 1        0
2 0        0
3 0        0
4 0        0
5 0        1
6 0        0

In [76]:
summary(bd$alcohol1)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
 0.0000  0.0000  0.0000  0.2157  0.0000  1.0000      75

In [77]:
summary(bd$alcohol2)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
 0.0000  0.0000  0.0000  0.2221  0.0000  1.0000      75

In [78]:
summary(bd$alcohol3)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
 0.0000  0.0000  0.0000  0.2587  1.0000  1.0000      75

In [79]:
summary(bd$alcohol4)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
 0.0000  0.0000  0.0000  0.1142  0.0000  1.0000      75

In [69]:
dat.head(100)
check_for_nan = dat['alcohol1'].isnull()
print (check_for_nan)

0         False
1         False
2         False
3         False
4         False
          ...
105116    False
105117    False
105118    False
105119    False
105120    False
Name: alcohol1, Length: 105121, dtype: bool

In [ ]:
dat1= pd.DataFrame(dat, columns = ['FID', 'IID'] + covarCol)
dat = dat1.astype(int)
dat1.head()

In [ ]:
import pandas
    df = pandas.DataFrame(data, columns = ['FID', 'IID'] + covarCol, index=False)
    df = df.astype(int)

In [64]:
dat['alcohol4'].isnull().values.any()

True

In [22]:
dat.to_csv(f"{cwd}/{phenoFile:bn}.regenie_covar", sep=' ', index=False, columns = ['FID', 'IID'] + covarCol + qCovarCol)

ParsingError: File contains parsing errors:
	[line  2]: dat.to_csv(f"{cwd}/{phenoFile:bn}.regenie_covar", sep=' ', index=False, columns = ['FID', 'IID'] + as.int(covarCol) + qCovarCol)

Invalid statements: SyntaxError('invalid syntax', ('<string>', 1, 101, 'dat.to_csv(f"{cwd}/{phenoFile:bn}.regenie_covar", sep=\' \', index=False, columns = [\'FID\', \'IID\'] + as.int(covarCol) + qCovarCol)\n'))

In [ ]:
dat.to_csv(f"{cwd}/{phenoFile:bn}.regenie_covar", sep=' ', index=False, columns = ['FID', 'IID'] + covarCol + qCovarCol)

In [20]:
dat[[covarCol]] = dat[[covarCol]].apply(pd.to_numeric)
                              #df[["a", "b"]] = df[["a", "b"]].apply(pd.to_numeric)

ExecuteError: [0]:
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
script_2712697837892028447 in <module>
----> dat[[covarCol]] = dat[[covarCol]].apply(pd.to_numeric)
                                    #df[["a", "b"]] = df[["a", "b"]].apply(pd.to_numeric)


KeyError: None of [Index([('SEX', 'alcohol1', 'alcohol2', 'alcohol3', 'alcohol4')], dtype='object')] are in the [columns]

In [ ]:
merged_data = pd.merge(left=survey_sub, right=species_sub, how='left', left_on='species_id', right_on='species_id')

In [29]:
import pandas as pd
dtypes={'CHR': int,'POS': int,'REF': str,'ALT':str,'SNP':str,'BETA':float,'SE':float,'P':float}
sumstats_1 = pd.read_csv('/gpfs/gibbs/pi/dewan/data/UKBiobank/results/FastGWA_results/results_imputed_data/HDL/UKB_Caucasiansubset_cholesterolfields_adjbymedstatus_062420_foranalysis_HDL.fastGWA.snp_stats.gz', compression='gzip', header=0, sep='\t', quotechar='"')
sumstats_2 = pd.read_csv('/gpfs/gibbs/pi/dewan/data/UKBiobank/results/BOLTLMM_results/results_imputed_data/HDL/UKB_Caucasiansubset_cholesterolfields_adjbymedstatus_062420_foranalysis_HDL.boltlmm.snp_stats.gz', compression='gzip', header=0, sep='\t', quotechar='"')

In [30]:
sumstats_1.head()

   CHR     POS REF ALT            SNP      BETA        SE         P
0    1  692794   C  CA  1:692794_CA_C  0.000155  0.002378  0.948037
1    1  693731   G   A     rs12238997 -0.000163  0.002247  0.942083
2    1  707522   C   G    rs371890604  0.001980  0.002529  0.433679
3    1  714596   C   T    rs149887893  0.003913  0.004257  0.358063
4    1  715265   T   C     rs12184267  0.003267  0.003866  0.398074

In [31]:
sumstats_2.head()

   CHR     POS REF ALT            SNP      BETA        SE     P
0    1  692794   C  CA  1:692794_CA_C  0.000492  0.001311  0.84
1    1  693731   G   A     rs12238997  0.000754  0.001239  0.68
2    1  707522   C   G    rs371890604  0.001158  0.001395  0.36
3    1  714596   C   T    rs149887893 -0.000331  0.002349  0.88
4    1  715265   T   C     rs12184267 -0.000652  0.002133  0.76

In [32]:
sumstats_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13406767 entries, 0 to 13406766
Data columns (total 8 columns):
 #   Column  Dtype
---  ------  -----
 0   CHR     int64
 1   POS     int64
 2   REF     object
 3   ALT     object
 4   SNP     object
 5   BETA    float64
 6   SE      float64
 7   P       float64
dtypes: float64(3), int64(2), object(3)
memory usage: 818.3+ MB

In [33]:
sumstats_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16107520 entries, 0 to 16107519
Data columns (total 8 columns):
 #   Column  Dtype
---  ------  -----
 0   CHR     int64
 1   POS     int64
 2   REF     object
 3   ALT     object
 4   SNP     object
 5   BETA    float64
 6   SE      float64
 7   P       object
dtypes: float64(2), int64(2), object(4)
memory usage: 983.1+ MB

In [34]:
sumstats_2["P"] = sumstats_2["P"].astype('float')

In [35]:
sig_1=sumstats_1[sumstats_1.P<5e-08]
sig_2=sumstats_2[sumstats_2.P<5e-08]

In [39]:
difference = set(sig_1.SNP) ^ set(sig_2.SNP)

In [40]:
difference

{'rs2740',
 'rs2259690',
 'rs6962380',
 'rs4618513',
 'rs7784701',
 'rs10773010',
 'rs2393776',
 'rs77938002',
 'rs7926128',
 'rs7839516',
 'rs9271607',
 'rs1793439',
 'rs10822159',
 'rs7075195',
 'rs4843756',
 'rs7548877',
 'rs78964926',
 'rs12932041',
 'rs2239805',
 'rs111169115',
 'rs11113122',
 'rs57624996',
 '5:103942060_AT_A',
 'rs200413027',
 'rs67821826',
 'rs1608632',
 'rs112030397',
 'rs3128760',
 'rs11900331',
 'rs115290401',
 'rs533839650',
 'rs1178977',
 'rs9393715',
 '6:32577561_ATG_A',
 'rs7294160',
 'rs74387268',
 'rs777358055',
 'rs76378935',
 'rs3017174',
 'rs1729405',
 'rs3130805',
 'rs6601533',
 'rs201802475',
 'rs10933140',
 'rs1798569',
 'rs117578063',
 'rs12930689',
 'rs1127497',
 'rs61225183',
 'rs2412848',
 'rs7213668',
 'rs3117146',
 'rs191743564',
 'rs4239225',
 'rs118013839',
 'rs10861665',
 '11:47679273_CTTT_C',
 '3:48854758_CAATAAATAAATA_C',
 'rs637723',
 'rs11763793',
 'rs498946',
 'rs113838733',
 'rs138887541',
 'rs73134953',
 'rs17120099',
 'rs1059351',
 'rs777055959',
 'rs75471208',
 'rs113353313',
 'rs9457995',
 'rs3130505',
 'rs6659947',
 'rs9653175',
 'rs9890393',
 'rs9268505',
 'rs7898861',
 'rs3914086',
 'rs142871977',
 'rs7928781',
 'rs17713396',
 'rs140768185',
 'rs7307815',
 'rs66720652',
 'rs566171073',
 'rs12957246',
 'rs2385113',
 'rs9469972',
 'rs752458976',
 'rs36026897',
 'rs1968543',
 'rs9268920',
 'rs3117318',
 'rs28712486',
 '6:139835103_CAA_C',
 'rs12506979',
 'rs2118311',
 'rs141947687',
 'rs12477308',
 'rs61893077',
 'rs145867716',
 'rs2424410',
 'rs2224378',
 '1:62986157_CAT_C',
 'rs8088451',
 'rs4610666',
 'rs148084752',
 'rs199882626',
 'rs132941',
 '18:47575394_GA_G',
 'rs2535315',
 'rs62568212',
 'rs3863517',
 'rs200252198',
 'rs752240734',
 'rs2955611',
 'rs4906261',
 'rs11755694',
 'rs960987',
 'rs148612288',
 'rs12670453',
 'rs4704227',
 'rs5785581',
 'rs2300598',
 'rs4501619',
 'rs1621090',
 'rs9275332',
 'rs7005564',
 'rs71562509',
 'rs188722733',
 'rs1968684',
 'rs7175',
 'rs13202664',
 'rs35619083',
 'rs9276055',
 'rs2513915',
 'rs7767581',
 'rs2698716',
 'rs142517247',
 'rs2815419',
 'rs10518994',
 'rs979790',
 'rs4693066',
 'rs9865480',
 'rs11511615',
 'rs1494372',
 'rs3858121',
 'rs4318010',
 'rs1494371',
 'rs9272871',
 'rs34149960',
 'rs79262908',
 'rs77581787',
 'rs11657201',
 'rs583589',
 'rs116238056',
 'rs12420832',
 'rs17463884',
 'rs3099840',
 'rs181619415',
 'rs80031817',
 'rs10770642',
 'rs118074426',
 'rs5879841',
 'rs2361797',
 'rs113231830',
 'rs2745353',
 'rs2930192',
 'rs7760313',
 'rs34757903',
 'rs79171463',
 'rs13108745',
 'rs77602358',
 'rs111230654',
 'rs775390705',
 'rs11932972',
 'rs112699961',
 'rs7214988',
 'rs28383363',
 'rs73729122',
 'rs113301125',
 'rs12758606',
 'rs9889795',
 'rs7213935',
 'rs7937757',
 'rs11128750',
 'rs774897716',
 'rs12789543',
 'rs710623',
 'rs2281135',
 'rs7196853',
 'rs12283907',
 'rs200592824',
 'rs66757203',
 'rs3092502',
 'rs72692840',
 'rs9260581',
 'rs10774775',
 'rs113647163',
 'rs28656020',
 'rs199556118',
 'rs4752886',
 'rs113761591',
 'rs34276369',
 'rs2720470',
 'rs10795466',
 'rs139646866',
 'rs56174416',
 'rs61872277',
 'rs79355998',
 'rs17835435',
 'rs7237362',
 'rs7943866',
 '11:64910656_AT_A',
 'rs6765',
 'rs4392912',
 'rs73221471',
 'rs261282',
 'rs2395188',
 'rs112614366',
 'rs2228510',
 'rs4698310',
 'rs2290404',
 'rs570194309',
 '18:20080117_CA_C',
 'rs10902762',
 'rs486036',
 'rs4847431',
 'rs199601864',
 'rs57390973',
 'rs10159580',
 'rs147616090',
 'rs2187390',
 'rs112776977',
 'rs544873449',
 'rs7090111',
 'rs1252422',
 '11:50620121_GT_G',
 'rs6831511',
 'rs1050320',
 'rs10446707',
 'rs1908738',
 'rs1190336',
 'rs35102600',
 'rs11645675',
 '8:61498855_CAA_C',
 'rs34604457',
 'rs3750572',
 'rs4980463',
 'rs929159',
 '6:29809382_C_T',
 'rs11229394',
 'rs190409449',
 'rs7227255',
 'rs28755217',
 'rs35297548',
 'rs10462517',
 'rs11733939',
 'rs7128556',
 'rs10510443',
 'rs35294578',
 'rs10783377',
 '2:135770893_AAAG_A',
 'rs1642813',
 'rs9271684',
 'rs16831243',
 'rs185232623',
 'rs1447645',
 'rs13273851',
 'rs796175',
 'rs7744253',
 'rs12285388',
 'rs9284166',
 'rs11918040',
 'rs672853',
 'rs10103407',
 'rs16946330',
 'rs35751397',
 'rs75532552',
 'rs111343904',
 'rs9270520',
 'rs1056316',
 'rs10049210',
 'rs9262669',
 'rs2253209',
 'rs9469900',
 'rs138457196',
 'rs191354267',
 'rs116756012',
 'rs9274981',
 'rs1897311',
 'rs12355875',
 'rs150483923',
 'rs6975732',
 'rs7194225',
 'rs2866865',
 'rs9273025',
 'rs11848899',
 '15:44506541_AG_A',
 '11:56804041_TA_T',
 'rs10902052',
 'rs62331150',
 'rs571341495',
 'rs17127849',
 'rs598253',
 'rs2709402',
 'rs2967594',
 '20:44523442_TC_T',
 'rs13076033',
 '6:29768515_AG_A',
 'rs6593475',
 'rs27192',
 'rs56822886',
 'rs7903402',
 'rs2535328',
 'rs1051001',
 'rs2535312',
 '8:20028273_CAT_C',
 'rs4524811',
 'rs77584654',
 'rs28724151',
 'rs142125224',
 '11:3070325_TTTTA_T',
 'rs2455822',
 'rs1851544',
 'rs35290475',
 'rs6929479',
 'rs61386199',
 'rs2587534',
 'rs2523999',
 'rs75392656',
 'rs7838750',
 'rs1131877',
 'rs4925048',
 'rs10778501',
 'rs1736994',
 'rs144821230',
 'rs10409634',
 'rs11040591',
 'rs6805034',
 'rs142058276',
 'rs8017180',
 '4:87938214_CAT_C',
 'rs11439479',
 'rs8141428',
 'rs4675069',
 '16:71682507_TA_T',
 'rs2903810',
 'rs11432614',
 'rs11070340',
 'rs9269029',
 'rs1949717',
 'rs574126138',
 'rs12690826',
 'rs3740331',
 'rs2511025',
 'rs77169818',
 'rs6533017',
 'rs7007811',
 'rs11040098',
 'rs2617244',
 'rs1149450',
 'rs189953132',
 'rs58617845',
 'rs754434',
 'rs551110767',
 'rs73557376',
 'rs6826458',
 'rs2256134',
 'rs9274792',
 '12:26465884_CT_C',
 'rs232270',
 'rs12373302',
 'rs1167996',
 'rs4644087',
 'rs1851537',
 'rs4065986',
 'rs4916484',
 'rs11057402',
 'rs72921909',
 'rs144179322',
 'rs4239223',
 '17:38164432_TTTTA_T',
 'rs10658290',
 'rs2269340',
 'rs2602890',
 'rs79503414',
 'rs3744349',
 'rs12941462',
 'rs41312309',
 'rs7007434',
 'rs1977081',
 'rs146398872',
 'rs111725169',
 'rs34788621',
 'rs891142',
 'rs2972585',
 'rs6591242',
 'rs200718677',
 'rs75743386',
 'rs724152',
 'rs28679685',
 'rs146155791',
 'rs9272072',
 'rs9899653',
 'rs1264341',
 'rs7641045',
 'rs2279337',
 'rs11216054',
 'rs9633830',
 'rs140231532',
 'rs3130890',
 'rs10901899',
 '16:67151858_AT_A',
 'rs9274743',
 'rs10019',
 'rs1927485',
 'rs959510',
 'rs2240326',
 'rs2715555',
 'rs35470355',
 'rs118123547',
 'rs9271486',
 'rs377142659',
 'rs10838956',
 'rs62405638',
 'rs4812972',
 'rs2377000',
 'rs61779835',
 'rs12889277',
 '8:20025905_GTGA_G',
 'rs2999015',
 'rs79416478',
 'rs35971623',
 'rs57232086',
 'rs4708876',
 'rs6764473',
 'rs1417579',
 'rs7631721',
 'rs150105195',
 '16:57512281_CA_C',
 'rs3918249',
 'rs9274999',
 'rs2811302',
 'rs9295778',
 'rs1066391',
 'rs8035212',
 'rs8081220',
 'rs35142265',
 '17:37407664_AAAC_A',
 'rs60450343',
 '19:8470143_ACCTGGGCAC_A',
 'rs11753780',
 'rs61884264',
 'rs1529828',
 'rs11782626',
 'rs9268806',
 'rs12028540',
 'rs76160983',
 'rs59487085',
 'rs61799497',
 'rs1075645',
 'rs11216022',
 'rs9403082',
 'rs16849949',
 'rs7110797',
 'rs80023119',
 'rs2326562',
 'rs2377671',
 'rs34895137',
 'rs113759393',
 'rs117988611',
 'rs6087605',
 'rs112374148',
 'rs2524161',
 'rs9272951',
 'rs180800982',
 '6:31536767_CTTGTT_C',
 'rs16957489',
 'rs3129841',
 'rs1943984',
 'rs2351598',
 'rs12691307',
 'rs2460202',
 'rs11282991',
 'rs949143',
 'rs141859350',
 'rs5757210',
 'rs587343',
 'rs77440502',
 'rs62068577',
 'rs10508781',
 'rs35177659',
 'rs62065255',
 'rs770519511',
 'rs7973253',
 'rs9936776',
 'rs2448427',
 '7:28209953_GAT_G',
 'rs11572952',
 'rs573455',
 'rs4418214',
 'rs111727507',
 'rs11045235',
 'rs75943716',
 'rs1608158',
 'rs3849979',
 'rs77458785',
 '11:122561013_CAT_C',
 'rs77317455',
 'rs1859048',
 'rs6965001',
 'rs7343130',
 'rs12635723',
 'rs11246676',
 'rs1608227',
 'rs2523972',
 '20:33043434_AT_A',
 'rs76582395',
 'rs10445305',
 'rs750879334',
 'rs82625',
 'rs191019116',
 'rs200152420',
 'rs1233493',
 'rs7824786',
 'rs7950524',
 'rs10861957',
 'rs142278621',
 'rs10824749',
 'rs1053561',
 'rs8084085',
 'rs9619755',
 'rs9633991',
 'rs2340596',
 'rs673336',
 'rs8017944',
 'rs9491697',
 'rs182990682',
 'rs934297',
 '15:42045575_CT_C',
 'rs521350',
 'rs7949725',
 'rs3116827',
 'rs9393926',
 'rs2516505',
 'rs73204714',
 'rs5750627',
 'rs749567755',
 'rs11227964',
 'rs10896534',
 'rs10832264',
 'rs57899656',
 'rs5757196',
 'rs144975609',
 'rs2761464',
 'rs6956753',
 'rs34099256',
 'rs1602114',
 'rs6669855',
 'rs11569333',
 'rs145836988',
 'rs8068497',
 'rs1944055',
 'rs61904510',
 'rs11998114',
 'rs61956132',
 'rs3131095',
 'rs2860233',
 'rs11453665',
 'rs6579178',
 'rs2517572',
 'rs3094076',
 'rs2394898',
 'rs1602133',
 'rs11057774',
 'rs1544717',
 'rs140526322',
 'rs112471393',
 'rs11666117',
 'rs4788828',
 'rs6778802',
 'rs16849922',
 'rs7787744',
 'rs9614099',
 'rs80089077',
 'rs2193305',
 'rs71657594',
 'rs4765019',
 '4:99814298_TA_T',
 'rs76856822',
 'rs28746846',
 'rs373992896',
 'rs4341530',
 'rs236914',
 'rs9903760',
 'rs13230514',
 'rs11724783',
 'rs34380632',
 'rs73401349',
 'rs139524394',
 'rs6445486',
 'rs112129448',
 'rs111964104',
 'rs1265092',
 'rs3130473',
 'rs4939066',
 'rs60448423',
 '6:29924136_AG_A',
 'rs2966097',
 'rs1634747',
 'rs12802439',
 'rs2647042',
 'rs4362488',
 'rs2425023',
 'rs7008485',
 'rs1947257',
 'rs115947495',
 'rs6931120',
 'rs869467',
 'rs759971',
 'rs1699362',
 'rs35445951',
 'rs9280073',
 'rs11663904',
 'rs3835930',
 'rs4396306',
 'rs7264012',
 'rs561438973',
 'rs9921926',
 'rs2038395',
 'rs12138136',
 'rs9265213',
 'rs6731905',
 'rs199566549',
 'rs11057283',
 'rs584608',
 'rs6694406',
 'rs2526743',
 'rs11712568',
 'rs149709795',
 'rs775646',
 'rs204914',
 'rs753725',
 'rs78477521',
 'rs117568276',
 'rs2250062',
 'rs371839915',
 'rs12454781',
 'rs1541495',
 'rs1641513',
 'rs7579771',
 'rs6047714',
 '20:44373627_AT_A',
 'rs11245702',
 'rs56012051',
 'rs1169288',
 'rs255055',
 'rs35854525',
 'rs116259937',
 'rs7634886',
 'rs57356592',
 'rs6957912',
 'rs7153374',
 'rs782767826',
 'rs9817717',
 'rs57400569',
 'rs149543464',
 'rs1552143',
 'rs11228335',
 'rs2731443',
 'rs73048288',
 'rs6719488',
 'rs771639420',
 'rs11769630',
 'rs55716280',
 'rs6001185',
 'rs9263556',
 'rs79259432',
 'rs3064787',
 'rs558240',
 'rs62004949',
 'rs77014830',
 'rs8039305',
 'rs533818198',
 'rs3828165',
 'rs142145812',
 'rs9487138',
 'rs3129885',
 'rs9273144',
 'rs1787783',
 'rs12154961',
 'rs7116968',
 'rs10047436',
 'rs16832205',
 'rs2768538',
 'rs117253169',
 'rs1592587',
 'rs9270524',
 'rs35360485',
 'rs393481',
 'rs9275590',
 'rs10902068',
 'rs1805720',
 'rs12472293',
 'rs1788119',
 'rs7023082',
 'rs543660821',
 'rs75930754',
 'rs12757772',
 '11:50034565_TA_T',
 'rs2763980',
 'rs117222175',
 'rs369368040',
 'rs9274928',
 'rs35228478',
 'rs253414',
 'rs6088361',
 'rs12420248',
 'rs28383174',
 'rs1737035',
 'rs7625323',
 'rs7778968',
 'rs79737754',
 'rs137945109',
 'rs9271955',
 'rs16940302',
 'rs11914064',
 'rs59872631',
 'rs5013089',
 'rs2395880',
 'rs555706008',
 'rs10231759',
 'rs9272980',
 'rs7104849',
 'rs148893249',
 'rs42129',
 'rs145552956',
 'rs2454425',
 'rs149719617',
 'rs2442812',
 'rs1177317',
 'rs10271082',
 'rs7695183',
 'rs28482878',
 'rs56119958',
 'rs7158047',
 'rs11216884',
 'rs2215319',
 'rs13212652',
 'rs11759958',
 'rs6032350',
 'rs5757188',
 'rs72937081',
 'rs1930955',
 'rs4562853',
 'rs60645843',
 'rs4775607',
 'rs1035002',
 'rs3016018',
 'rs7803208',
 'rs10839472',
 'rs8076546',
 'rs9269846',
 'rs1555991',
 'rs481139',
 'rs6541284',
 '18:47041947_TG_T',
 'rs74997284',
 'rs2419615',
 'rs13279396',
 'rs9275479',
 'rs6119535',
 '11:103870761_AT_A',
 'rs17149979',
 'rs2504930',
 'rs76227412',
 'rs140701',
 'rs28399657',
 'rs79106080',
 'rs2551940',
 'rs2731359',
 'rs2438422',
 'rs12321131',
 'rs7631792',
 'rs1241658',
 'rs7650241',
 'rs2504935',
 'rs963459',
 'rs7241003',
 'rs10773103',
 'rs9274700',
 'rs16972808',
 'rs6901288',
 'rs10911014',
 'rs1617196',
 'rs4149287',
 'rs17569676',
 'rs72704712',
 'rs6456329',
 'rs57205202',
 'rs6715785',
 'rs4938328',
 'rs7973131',
 'rs3134951',
 'rs13056555',
 'rs79640098',
 'rs1737057',
 'rs10012528',
 'rs513873',
 'rs1979',
 'rs2457011',
 'rs13412397',
 'rs144574378',
 'rs12995761',
 'rs531593',
 'rs77018356',
 '3:135910309_CA_C',
 'rs75828717',
 'rs199806184',
 'rs148944212',
 'rs1611238',
 'rs61089116',
 'rs201354020',
 'rs11273797',
 'rs1338667',
 'rs1641514',
 'rs2261279',
 'rs11239524',
 'rs355878',
 'rs201445271',
 'rs56122753',
 'rs35448320',
 'rs3801965',
 'rs67604085',
 'rs9258652',
 'rs1690766',
 'rs9263557',
 'rs28552648',
 '19:7231991_GCTAA_G',
 'rs570170206',
 'rs4274403',
 'rs11245609',
 'rs35058449',
 'rs73455250',
 'rs111896090',
 'rs9379855',
 'rs4687556',
 'rs10838777',
 'rs389285',
 'rs6690903',
 'rs145342185',
 'rs2731439',
 'rs6689031',
 'rs4954557',
 'rs2550306',
 '11:117259487_CT_C',
 'rs11216900',
 'rs974758',
 'rs66701417',
 'rs10786115',
 'rs35858516',
 'rs9675555',
 'rs2723579',
 'rs17427158',
 'rs45444303',
 '10:46058490_TC_T',
 'rs11759917',
 'rs7215889',
 'rs11829958',
 'rs289711',
 'rs115944351',
 'rs113596405',
 'rs4911477',
 'rs7595712',
 'rs10789115',
 'rs111941917',
 'rs79215033',
 'rs7932015',
 'rs192665701',
 'rs4939040',
 'rs146980074',
 'rs56017088',
 'rs9705134',
 'rs4906245',
 'rs12931143',
 'rs16851269',
 'rs1494369',
 'rs12462758',
 'rs12451100',
 'rs1933737',
 'rs34738913',
 'rs9276401',
 'rs4345184',
 'rs28366308',
 'rs6570098',
 '20:33790297_GA_G',
 'rs11071376',
 'rs3818183',
 'rs34776010',
 'rs34470561',
 'rs1971663',
 'rs148904289',
 'rs7103554',
 'rs6567155',
 'rs2436850',
 '4:39682825_CA_C',
 'rs3095290',
 'rs35860418',
 'rs3094629',
 'rs11245880',
 'rs78033862',
 'rs12600010',
 'rs11045247',
 'rs7460959',
 'rs12286778',
 'rs3132615',
 'rs6579186',
 'rs74689501',
 'rs77027049',
 'rs79678000',
 'rs10865733',
 'rs2227322',
 'rs7386378',
 'rs73727946',
 'rs2351285',
 'rs3761444',
 'rs3755831',
 'rs62290911',
 'rs10832263',
 'rs3130349',
 'rs200233662',
 'rs6485907',
 'rs1899354',
 'rs977008',
 'rs9265857',
 'rs13292932',
 'rs9270570',
 'rs61368704',
 'rs12607304',
 'rs748997703',
 'rs6658066',
 'rs4766897',
 'rs148233867',
 'rs11245639',
 'rs3129884',
 'rs1602130',
 'rs12932834',
 'rs557028918',
 'rs3958027',
 'rs1482853',
 'rs77226405',
 'rs512988',
 'rs133022',
 'rs7395767',
 'rs145204055',
 'rs10775543',
 'rs147881772',
 'rs4364664',
 'rs6499853',
 'rs1610673',
 'rs11845664',
 'rs75992606',
 'rs143928576',
 'rs3117299',
 'rs3021057',
 'rs34942359',
 'rs12451873',
 'rs9273174',
 'rs7951870',
 'rs8186302',
 'rs6104485',
 'rs11040455',
 'rs35697584',
 'rs56150414',
 'rs775639',
 'rs2815708',
 'rs142530081',
 'rs6773117',
 'rs73727980',
 'rs9271714',
 'rs1249359',
 'rs4906239',
 'rs12923830',
 'rs67627084',
 'rs12932649',
 'rs34158699',
 'rs150716687',
 'rs117800163',
 'rs68033110',
 'rs2470544',
 'rs139783888',
 'rs11755123',
 'rs78930926',
 'rs11101992',
 'rs1634753',
 'rs7285878',
 'rs1987947',
 'rs17674998',
 'rs67409736',
 'rs2865597',
 ...}

In [44]:
s = list(difference)

In [45]:
res1 = sig_1[sig_1.SNP.isin(s)]
res1.columns = ['CHR', 'POS', 'REF', 'ALT', 'SNP', 'BETA_pheno1', 'SE_pheno1', 'P_pheno1']
res2 = sig_2[sig_2.SNP.isin(s)]
res2.columns = ['CHR', 'POS', 'REF', 'ALT', 'SNP', 'BETA_pheno1', 'SE_pheno2', 'P_pheno2']
res3 = pd.merge(res1, res2, on=['SNP', 'CHR', 'POS', 'REF', 'ALT'])
s.to_csv("test.differ.snps", sep=' ', header = False, index = False)
res3.to_csv("test.differ.sum", sep='\t', header = True, index = False)

ExecuteError: [0]:
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
script_1511628346830316159 in <module>
      res2.columns = ['CHR', 'POS', 'REF', 'ALT', 'SNP', 'BETA_pheno1', 'SE_pheno2', 'P_pheno2']
      res3 = pd.merge(res1, res2, on=['SNP', 'CHR', 'POS', 'REF', 'ALT'])
----> s.to_csv("test.differ.snps", sep=' ', header = False, index = False)
      res3.to_csv("test.differ.sum", sep='\t', header = True, index = False)


AttributeError: 'list' object has no attribute 'to_csv'

In [6]:
import pandas as pd
phenoCol = ["hearing_aid_cat"]
dat = pd.read_csv('/gpfs/gibbs/pi/dewan/data/UKBiobank/phenotype_files/hearing_impairment/phenotypes_exome_data/010421_UKBB_Hearing_aid_f3393_exomes', header=0, delim_whitespace=True)

In [7]:
if len(phenoCol) > 0:
    dat.to_csv(f"test.fastGWA_phenotype", sep=' ', index=False, columns = ['FID', 'IID'] + phenoCol)

In [15]:
import pandas as pd
import numpy as np
common = pd.read_csv("/home/dc2325/output/cache/ukb23155_c1_b0_v1.common_var.snplist", header=None, delim_whitespace=True, dtype=str)
common.columns = ['SNPid']
common.head()

         SNPid
0  1:69270:A:G
1  1:69428:T:G
2  1:69511:A:G
3  1:69552:G:C
4  1:69761:A:T

In [16]:
count_row = common.shape[0]
count_row

32040

In [11]:
rare = pd.read_csv("/home/dc2325/output/cache/ukb23155_c1_b0_v1.rare_var.snplist", header=None, delim_whitespace=True, dtype=str)
rare.columns=['SNPid']
rare.head()

         SNPid
0  1:69081:G:C
1  1:69134:A:G
2  1:69149:T:A
3  1:69217:G:A
4  1:69224:A:T

In [18]:
count_row2 =rare.shape[0]
count_row2

1751866

In [20]:
all_var = pd.read_csv ("/gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/ukb28374_exomedata/exome_data_OCT2020/ukb23155_c1_b0_v1.bim", header=None, delim_whitespace=True, dtype=str)
all_var.head()

   0            1  2      3  4  5
0  1  1:69081:G:C  0  69081  C  G
1  1  1:69134:A:G  0  69134  G  A
2  1  1:69149:T:A  0  69149  A  T
3  1  1:69217:G:A  0  69217  A  G
4  1  1:69224:A:T  0  69224  T  A

In [21]:
count_row3 =all_var.shape[0]
count_row3

1783906

In [13]:
int_df = pd.merge(common, rare, how ='inner', on =['SNPid', 'SNPid']) 
print(int_df)

Empty DataFrame
Columns: [SNPid]
Index: []

In [ ]:
awk -F"[, ]" 'NR==FNR{a[$1]=$1","$2; next} ($2 in a){print a[$2]","$1}' file1 file2 
awk -F, 'FNR==NR {lines[$2]; next} $2 in lines' file1 file2

In [15]:

awk -F" " 'FNR==NR {lines[$1]; next} $2 in lines ' /home/dc2325/output/cache/test_del_awk.txt /home/dc2325/output/cache/ukb23155.allchr.bim > /home/dc2325/output/cache/out_file

1	1:69465:D:3	0	69465	C	CACT
1	1:69469:D:5	0	69469	A	ACAATT
1	1:69476:D:1	0	69476	T	TG
1	1:69555:D:1	0	69555	T	TG
1	1:69702:D:1	0	69702	T	TG
1	1:926005:D:1	0	926005	T	TC
1	1:926073:D:9	0	926073	C	CGGTTTTCAG
1	1:926094:D:1	0	926094	T	TC
1	1:930081:D:21	0	930081	A	AGCCCCACCTTCCTCTCCTCCT
1	1:930094:D:3	0	930094	T	TCTC

In [11]:
awk -F" " 'FNR==NR {lines[$1]; next} $2 in lines ' /home/dc2325/output/cache/test_ins_awk.txt /home/dc2325/output/cache/ukb23155.allchr.bim > /home/dc2325/output/cache/out_ins_awk.txt

In [4]:
cat /home/dc2325/output/cache/out_ins_awk.txt | head

1	1:69433:I:3	0	69433	AGAT	A
1	1:686625:I:1	0	686625	AG	A
1	1:925908:I:5	0	925908	GGCTCT	G
1	1:926009:I:8	0	926009	CGGTGGTGA	C
1	1:926033:I:1	0	926033	TG	T
1	1:926073:I:1	0	926073	CG	C
1	1:926093:I:7	0	926093	ATCGAGAG	A
1	1:930061:I:4	0	930061	GAGAT	G
1	1:930102:I:1	0	930102	TG	T
1	1:930103:I:1	0	930103	GC	G
cat: write error: Broken pipe

In [14]:
awk -F"\t" 'length ($6)>1 {print}' /home/dc2325/output/cache/ukb23155.allchr.bim | wc -l

206679

In [13]:
grep "D"  /home/dc2325/output/cache/ukb23155.allchr.bim | wc -l

206679

In [8]:
awk -F" " 'FNR==NR {lines[$1]; next} $2 in lines {print $1, $4, $6, $5}' /home/dc2325/output/cache/test_awk.txt /home/dc2325/output/cache/ukb23155.allchr.bim

1 69081 G C
1 69134 A G
1 69149 T A
1 69217 G A
1 69224 A T
1 69231 C T
1 69281 T C
1 69314 T C
1 69315 T C
1 69334 C T

In [44]:
awk -F" " '{print $1, $4, $4 + (length ($6) - length ($5)), $6, $5  } ' /home/dc2325/output/cache/out1.txt

1 69465 69468 CACT C
1 69469 69474 ACAATT A
1 69476 69477 TG T
1 69555 69556 TG T
1 69702 69703 TG T
1 926005 926006 TC T
1 926073 926082 CGGTTTTCAG C
1 926094 926095 TC T
1 930081 930102 AGCCCCACCTTCCTCTCCTCCT A
1 930094 930097 TCTC T

In [7]:
awk -F" " '{print $1, $4, $4 , $6, $5  } ' /home/dc2325/output/cache/out_ins_awk.txt | head

1 69433 69433 A AGAT
1 686625 686625 A AG
1 925908 925908 G GGCTCT
1 926009 926009 C CGGTGGTGA
1 926033 926033 T TG
1 926073 926073 C CG
1 926093 926093 A ATCGAGAG
1 930061 930061 G GAGAT
1 930102 930102 T TG
1 930103 930103 G GC
awk: cmd. line:1: (FILENAME=/home/dc2325/output/cache/out_ins_awk.txt FNR=485) fatal: print to "standard output" failed (Broken pipe)

In [3]:
cat /home/dc2325/output/cache/test_awk.txt

1:69081:G:C
1:69134:A:G
1:69149:T:A
1:69217:G:A
1:69224:A:T
1:69231:C:T
1:69281:T:C
1:69314:T:C
1:69315:T:C
1:69334:C:T

In [14]:

awk '{if ($2 ~ /D/) {print $1, $4, $4 + (length ($6) - length ($5)), $6, $5 } else {print $1, $4, $4, $6, $5 }}'  /home/dc2325/output/cache/test_del_ins_awk.txt

1 69465 69468 CACT C
1 69469 69474 ACAATT A
1 69476 69477 TG T
1 69555 69556 TG T
1 69702 69703 TG T
1 926005 926006 TC T
1 926073 926082 CGGTTTTCAG C
1 926094 926095 TC T
1 930081 930102 AGCCCCACCTTCCTCTCCTCCT A
1 930094 930097 TCTC T
1 69433 69433 A AGAT
1 686625 686625 A AG
1 925908 925908 G GGCTCT
1 926009 926009 C CGGTGGTGA
1 926033 926033 T TG
1 926073 926073 C CG
1 926093 926093 A ATCGAGAG
1 930061 930061 G GAGAT
1 930102 930102 T TG
1 930103 930103 G GC

In [13]:
cat /home/dc2325/output/cache/test_del_ins_awk.txt

1	1:69465:D:3	0	69465	C	CACT
1	1:69469:D:5	0	69469	A	ACAATT
1	1:69476:D:1	0	69476	T	TG
1	1:69555:D:1	0	69555	T	TG
1	1:69702:D:1	0	69702	T	TG
1	1:926005:D:1	0	926005	T	TC
1	1:926073:D:9	0	926073	C	CGGTTTTCAG
1	1:926094:D:1	0	926094	T	TC
1	1:930081:D:21	0	930081	A	AGCCCCACCTTCCTCTCCTCCT
1	1:930094:D:3	0	930094	T	TCTC
1	1:69433:I:3	0	69433	AGAT	A
1	1:686625:I:1	0	686625	AG	A
1	1:925908:I:5	0	925908	GGCTCT	G
1	1:926009:I:8	0	926009	CGGTGGTGA	C
1	1:926033:I:1	0	926033	TG	T
1	1:926073:I:1	0	926073	CG	C
1	1:926093:I:7	0	926093	ATCGAGAG	A
1	1:930061:I:4	0	930061	GAGAT	G
1	1:930102:I:1	0	930102	TG	T
1	1:930103:I:1	0	930103	GC	G

In [5]:
avail_samples = read.table('/gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/ukb28374_exomedata/exome_data_OCT2020/ukb23155_c10_b0_v1.fam', header=F)

In [6]:
head(avail_samples)

  V1      V2      V3 V4 V5 V6
1 1434748 1434748 0  0  2  -9
2 5523981 5523981 0  0  1  -9
3 5023838 5023838 0  0  2  -9
4 4023729 4023729 0  0  1  -9
5 4442146 4442146 0  0  2  -9
6 5654789 5654789 0  0  2  -9

In [7]:
avail_samples_bgen = read.table('/gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/ukb39554_imputeddataset/ukb32285_imputedindiv.sample', header=F, skip=2)

In [8]:
head(avail_samples_bgen )

  V1      V2      V3 V4
1 5414209 5414209 0  1
2 5296052 5296052 0  2
3 4852763 4852763 0  2
4 5230840 5230840 0  2
5 1992219 1992219 0  2
6 2753596 2753596 0  1